@charset "UTF-8";
body.new-product.no-scroll {
  position: fixed;
}

@media (max-width: 768px) {
  body.new-product {
    padding-top: 104px;
  }
}

@media (max-width: 768px) {
  body.new-product .header {
    position: fixed;
    width: 100%;
    top: 0;
  }
}

@media (min-width: 1025px) {
  body.new-product .header--fixed {
    opacity: 0;
    visibility: hidden;
    position: relative;
  }
}

body.new-product .header__floater {
  border: 0;
}

@media (min-width: 1025px) {
  body.new-product .header .menu__panel--level-2 {
    margin-top: 0px !important;
  }
}

@media screen and (min-width: 1025px) {
  body.new-product .header__area--bottom {
    height: 85px;
  }
}

body.new-product #ajaxBusy {
  display: none !important;
}

body.new-product .lightbox__modal {
  top: 100%;
  display: block !important;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translate(-50%, 0) translate3d(0, 0, 0) scale(1, 1);
          transform: translate(-50%, 0) translate3d(0, 0, 0) scale(1, 1);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  width: 100vw;
  max-width: 660px;
}

body.new-product .lightbox__modal img {
  margin: 0 auto;
}

body.new-product .lightbox__overlay {
  top: 100%;
  display: block;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  background: rgba(241, 241, 241, 0.95);
}

body.new-product .lightbox.js-open .lightbox__modal {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) translate3d(0, 0, 0) scale(1, 1);
          transform: translate(-50%, -50%) translate3d(0, 0, 0) scale(1, 1);
}

body.new-product .lightbox.js-open .lightbox__overlay {
  top: 0;
}

@media (max-width: 768px) {
  body.new-product .lightbox.js-open .lightbox__close {
    top: -40px;
    left: 0;
    text-align: right;
    width: 100vw;
  }
  body.new-product .lightbox.js-open .lightbox__content {
    padding: 0;
  }
  body.new-product .lightbox.js-open .lightbox__modal {
    padding: 0;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

body.new-product .backtotop {
  bottom: 30px;
  right: initial;
  left: 50%;
  margin-left: -30px;
}

.full-product {
  background: #f1f1f1;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .full-product {
    padding-bottom: 30px;
    overflow: hidden;
  }
}

.full-product__area-floater {
  width: 100%;
}

.full-product__area--images {
  position: relative;
}

.full-product__name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  width: calc(100% - 30px);
}

@media (max-width: 767px) {
  .full-product__name {
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
  }
}

.full-product__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 50px;
  visibility: hidden;
}

@media (max-width: 1023px) {
  .full-product__images {
    padding: 0;
    margin-left: -21px;
    width: calc(100% + 42px);
  }
}

.full-product__images .apresentacao {
  width: 100%;
}

.full-product__images #show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .full-product__images #show {
    width: calc(100% + 21px);
  }
}

.full-product__images #include {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-product__images #include img {
  visibility: hidden;
}

.full-product__images #include img.fadeIn {
  visibility: visible;
}

@media (max-width: 1023px) {
  .full-product__images #include {
    display: none;
  }
}

.full-product__images #include.easyzoom img {
  visibility: visible;
}

.full-product__images #image {
  width: 100%;
}

.full-product__images #image img {
  width: 100%;
}

.full-product__images .thumbs {
  width: 100%;
  max-width: 130px;
  padding-right: 20px;
}

@media (max-width: 1023px) {
  .full-product__images .thumbs {
    max-width: none;
    padding: 0;
  }
}

.full-product__images .thumbs li {
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

@media (min-width: 1025px) {
  .full-product__images .thumbs li a {
    opacity: 0.6;
  }
  .full-product__images .thumbs li a.ON {
    opacity: 1;
  }
}

.full-product__images .thumbs .slick-dots li {
  width: 12px;
  height: 12px;
  opacity: 0.5;
  background: #fff;
}

.full-product__images .thumbs .slick-dots li.slick-active {
  opacity: 1;
}

.full-product__images .thumbs img {
  margin: 0 auto;
  width: 100%;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.full-product__images .thumbs img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 767px) {
  .full-product__images .thumbs img:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 767px) {
  .full-product__images .thumbs {
    max-width: none;
  }
}

.full-product__images .thumbs .slick-dots {
  position: absolute;
  bottom: 30px;
}

.full-product__breadcrumb {
  padding: 5px 0 30px;
}

@media (max-width: 767px) {
  .full-product__breadcrumb {
    padding: 5px 0 5px;
  }
}

.full-product__breadcrumb .container {
  padding: 0;
}

@media (max-width: 767px) {
  .full-product__breadcrumb .bread-crumb ul {
    text-align: center;
  }
}

.full-product__breadcrumb .bread-crumb li {
  color: #666666;
  font-size: 12px;
  padding: 5px;
}

.full-product__breadcrumb .bread-crumb li a {
  color: #666666;
  padding: 0;
  display: inherit;
  vertical-align: initial;
}

.full-product__breadcrumb .bread-crumb li a:first-child:after {
  color: #666666;
}

.full-product__breadcrumb .bread-crumb li:after {
  content: '►';
  color: #666666;
  font-size: 10px;
  -webkit-transform: scale(0.6, 1);
          transform: scale(0.6, 1);
  font-family: 'Arial';
  margin-left: 10px;
}

.full-product__breadcrumb .bread-crumb li.last {
  color: #000;
}

.full-product__breadcrumb .bread-crumb li.last a {
  color: #000;
}

.full-product__ref {
  color: #858585;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 20px;
}

.full-product__ref label {
  margin-right: 5px;
}

@media (max-width: 767px) {
  .full-product__ref {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5px;
  }
}

.full-product__price {
  border-bottom: 2px #dddddd solid;
  padding-bottom: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

@media (max-width: 767px) {
  .full-product__price {
    margin-bottom: 20px;
  }
  .full-product__price .plugin-preco {
    width: 100%;
  }
}

.full-product__price .preco-a-vista.price-cash,
.full-product__price .economia-de {
  display: none !important;
}

.full-product__price .descricao-preco {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 767px) {
  .full-product__price .descricao-preco {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 300px;
    margin: 0 auto;
  }
}

.full-product__price .price-list-price {
  font-size: 0;
  font-style: normal;
  display: block;
  width: 100%;
}

.full-product__price .price-list-price .skuListPrice {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  color: #666666;
}

@media (max-width: 767px) {
  .full-product__price .price-list-price {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.full-product__price .price-best-price {
  font-size: 0;
  font-style: normal;
}

.full-product__price .price-best-price .skuBestPrice {
  font-size: 26px;
  font-weight: 700;
  margin-right: 10px;
}

.full-product__price .price-best-price .skuListPrice {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  color: #666666;
  display: block;
}

@media (max-width: 767px) {
  .full-product__price .price-best-price {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.full-product__price .price-installments {
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 3px;
}

@media (max-width: 767px) {
  .full-product__price .price-installments {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .full-product__price .price-installments span > span {
    display: block;
  }
}

.full-product__price .skuBestInstallmentValue {
  color: #000;
  font-size: 18px;
}

.full-product__price .skuBestInstallmentValue:after {
  content: 'sem juros';
  font-size: 14px;
  color: #666666;
  margin-left: 3px;
  font-weight: 400;
}

.full-product__discount-flag {
  background: #000;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 7px;
  margin-left: 10px;
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  right: 0;
}

@media (max-width: 767px) {
  .full-product__discount-flag {
    top: 30px;
    right: initial;
    left: -20px;
    margin: 0;
    z-index: 1;
  }
}

.full-product__specification {
  display: none;
}

.full-product__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .full-product__selector {
    margin-bottom: 20px;
  }
}

.full-product__selector--item {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  border: 2px transparent solid;
  outline: 2px transparent solid;
  cursor: pointer;
}

.full-product__selector--item:hover {
  outline: 1px #000 solid;
  border-color: white;
}

.full-product__selector--item.is-selected {
  outline: 1px #000 solid;
  border-color: white;
}

.full-product__selector--item.branco {
  border: 1px #d8d8d8 solid;
}

@media (max-width: 767px) {
  .full-product__selector--item {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.full-product__selector--color {
  width: 100%;
}

.full-product__selector--color label {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  font-size: 12px;
  color: #666666;
  font-weight: 700;
  line-height: 13px;
  margin-right: 40px;
  text-transform: uppercase;
}

.full-product__selector--color label span {
  color: #000;
}

@media (max-width: 767px) {
  .full-product__selector--color label {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
  }
}

.full-product__selector--color ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 767px) {
  .full-product__selector--color ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.full-product__selector--button {
  display: block;
  width: 100%;
  height: 100%;
}

.full-product__social {
  width: 30px;
  position: relative;
}

.full-product__social i {
  font-size: 25px;
  cursor: pointer;
}

.full-product__social .icon-whatsapp {
  left: -2px;
  top: -1px;
  position: relative;
}

@media (max-width: 767px) {
  .full-product__social {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
  }
}

.full-product__size {
  width: calc(50% - 5px);
  position: relative;
}

.full-product__size--button {
  background: #fff;
  color: #333333;
  border: 1px #333333 solid;
  width: 100%;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  height: 50px;
  padding: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.full-product__size--button.unselected {
  border-color: #d40303;
  color: #d40303;
  background: #fff8f7;
}

.full-product__size--button i {
  position: absolute;
  right: 15px;
}

.full-product__size--button i.is-active:before {
  display: none;
}

.full-product__size--options {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1, 0);
          transform: translateY(-50%) scale(1, 0);
  width: 100%;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
  border: 1px #a7a7a7 solid;
  -webkit-transition: all 0.15s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  transition: all 0.15s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  opacity: 0;
  z-index: 1;
}

.full-product__size--options.is-open {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1, 1);
          transform: translateY(-50%) scale(1, 1);
}

.full-product__size--option {
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  width: 100%;
  text-align: left;
  padding: 5px 10px;
}

.full-product__size--option:hover {
  background: rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .full-product__size--option {
    padding: 10px 10px 10px 20px;
    font-size: 17px;
  }
}

.full-product__size--item.is-selected {
  background: #ececec;
}

.full-product__size--item.is-unavailable {
  display: none;
}

.full-product__size--value {
  background: #ddd;
  padding: 0 15px;
  font-size: 17px;
  line-height: 48px;
  position: absolute;
  left: 0;
  top: 0;
}

.full-product__size--value:empty {
  display: none;
}

.full-product__size--text {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.full-product__size--text.is-active {
  margin-left: 65px;
}

.full-product__size--tooltip {
  color: red;
  padding-left: 5px;
  font-size: 12px;
}

@media (max-width: 767px) {
  .full-product__size--tooltip {
    color: #d20303;
    padding-left: 5px;
    font-size: 14px;
  }
}

.full-product__size--overlay {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
}

.full-product__size--overlay.is-open {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media (max-width: 767px) {
  .full-product__size {
    width: 100%;
    margin-bottom: 20px;
  }
}

.full-product__buy {
  width: calc(50% - 5px);
  padding: 0;
  line-height: 50px;
  border: 0;
  font-weight: 700;
  font-size: 13px;
  display: block;
}

@media (max-width: 767px) {
  .full-product__buy {
    width: 100%;
  }
}

.full-product__flags {
  position: absolute;
  display: none;
}

.full-product__purchase {
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

.full-product__actions {
  margin-bottom: 35px;
  position: relative;
  z-index: 0;
}

.full-product__actions--button {
  font-size: 12px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 30px;
  position: relative;
}

.full-product__actions--button:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -2px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.full-product__actions--button svg {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .full-product__actions--button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .full-product__actions--button svg {
    display: block;
    margin: 0 auto 10px;
  }
}

.full-product__actions--button.active:after {
  width: 100%;
}

.full-product__actions--content-buttons {
  border-bottom: 2px #dddddd solid;
}

@media (max-width: 767px) {
  .full-product__action {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .full-product__action button {
    width: 100%;
  }
}

.full-product__action--box {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  height: 0;
  overflow: hidden;
  position: relative;
}

.full-product__action--box.active {
  padding: 30px 0 50px;
  height: auto;
  border-bottom: 2px #ddd solid;
}

.full-product__action--box-inner {
  padding: 0 20px;
  font-weight: 400;
}

.full-product__action--close {
  position: absolute;
  background: #dddddd;
  font-size: 15px;
  color: #666;
  width: 36px;
  height: 30px;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  text-align: center;
  padding: 0 !important;
}

.full-product__action--close i {
  text-align: center;
  width: 100%;
}

.full-product__shipping fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  max-width: 190px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  position: relative;
}

.full-product__shipping fieldset input[type=number] {
  border: 1px #000 solid;
  color: #000;
  padding: 10px;
  width: 100%;
  background: transparent;
  font-size: 14px;
  height: 40px;
  font-weight: 600;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.full-product__shipping fieldset button {
  background: #000;
  color: #fff;
  font-weight: 700;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
}

.full-product__shipping fieldset a.nao-sei {
  color: #666666;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 15px;
  font-size: 12px;
}

.full-product__shipping--close {
  display: none;
}

.full-product__shipping-table {
  width: 100%;
}

.full-product__shipping-table thead {
  display: none;
}

.full-product__shipping-table--value {
  font-weight: 700;
}

.full-product__shipping .custom-shipping__result {
  display: none;
  font-size: 13px;
  margin-top: 0px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.full-product__experimente {
  color: #666666;
  font-weight: 400;
}

.full-product__experimente img {
  opacity: 0.6;
  margin-right: 10px;
  width: 20px;
}

.full-product__experimente tbody tr {
  padding-bottom: 0px;
  display: block;
}

.full-product__shelf {
  background: #fff;
  padding-bottom: 30px;
  overflow: hidden;
}

.full-product__shelf-title {
  display: block;
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: 300;
  padding: 20px 0 30px;
  text-align: center;
}

.full-product__shelf .slick-list {
  padding: 0 !important;
}

@media (max-width: 768px) {
  .full-product__shelf .slick-list {
    padding-right: 100px !important;
  }
}

.full-product__shelf .prateleira > ul {
  margin: 0 -5px;
  width: calc(100% + 10px);
}

.full-product__shelf .prateleira .slick-slide {
  padding: 0 5px;
}

.full-product__shelf .prateleira .slick-arrow {
  -webkit-transform: none;
          transform: none;
  top: calc(50% - 80px);
}

.full-product__shelf .shelf-product__price-best {
  color: #000;
  font-size: 14px;
}

.full-product__shelf .shelf-product__title {
  font-size: 12px;
  font-weight: 300;
}

.full-product__shelf .shelf-product__info a {
  margin: 8px 0 0;
}

.full-product__overlay {
  background: #f1f1f1;
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.full-product__overlay.is-active {
  height: 100%;
}

.profile-main-loader {
  left: 50% !important;
  margin-left: -100px;
  position: absolute !important;
  top: 50% !important;
  margin-top: -100px;
  width: 45px;
  z-index: 9000 !important;
}

.profile-main-loader .loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height: 200px;
}

.profile-main-loader .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes color {
  0% {
    stroke: #999;
  }
  40% {
    stroke: #999;
  }
  66% {
    stroke: #999;
  }
  80%, 90% {
    stroke: #999;
  }
}

@keyframes color {
  0% {
    stroke: #999;
  }
  40% {
    stroke: #999;
  }
  66% {
    stroke: #999;
  }
  80%, 90% {
    stroke: #999;
  }
}

.menu-button {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  color: #000;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .menu-button > i {
    z-index: 1;
    position: relative;
    padding: 10px;
    right: -10px;
  }
}

.menu-button a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  width: 0px;
  height: 0px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 24px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.menu-button a:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.menu-button a:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #000;
}

.menu-button a:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #000;
}

@media (max-width: 767px) {
  .menu-button a:nth-child(3) {
    right: -100px;
  }
}

.menu-button a:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #000;
}

@media (max-width: 767px) {
  .menu-button a:nth-child(4) {
    right: -100px;
  }
}

.menu-button:hover a {
  opacity: 1;
  width: 50px;
  height: 50px;
}

.menu-button:hover a:nth-child(2) {
  right: 40px;
  bottom: -50px;
}

@media (max-width: 767px) {
  .menu-button:hover a:nth-child(2) {
    right: -15px;
    bottom: -135px;
  }
}

.menu-button:hover a:nth-child(2):hover {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  background: #484848;
}

.menu-button:hover a:nth-child(3) {
  right: 85px;
  bottom: 0px;
}

@media (max-width: 767px) {
  .menu-button:hover a:nth-child(3) {
    right: -15px;
    bottom: -65px;
  }
}

.menu-button:hover a:nth-child(3):hover {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  background: #595959;
}

.menu-button:hover a:nth-child(4) {
  right: 40px;
  bottom: 50px;
}

.menu-button:hover a:nth-child(4):hover {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  background: #6a6a6a;
}
/*# sourceMappingURL=fullcore-tng-product.css.map */