ul.search__result {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: self-start;
}

li.search__result-item {
    padding: 0 10px;
    flex: 1 0 10%;
}

a.search__result-link {
    flex-direction: column;
}

span.search__result-info {
    text-align: center;
    word-break: break-all;
}

span.search__result-name {
    width: 100%;
    display: block;
    word-break: break-word;
}

.search__result-name strong {
    display: block;
}

@media screen and (max-width: 768px) {
    a.search__result-link {
        flex-direction: initial;
    }

    li.search__result-item {
        flex: 1 0 100%;
    }
    
    span.search__result-info {
        text-align: left;
    }
    a.search__suggestion-link {
        font-size: 20px!important;
        padding: 6px 0!important;
    }
}