body.new-product {
    &.no-scroll {
        position: fixed;
    }
    @media (max-width: 768px) {
        padding-top: 104px;
    }
    .header {
        @media (max-width: 768px) {
            position: fixed;
            width: 100%;
            top: 0;
        }
        //&__area--bottom { height: auto; }
        &--fixed { 
            @media (min-width: 1025px) {
                opacity: 0; visibility: hidden;
                position: relative;
            }
        }
        &__floater {
            border: 0;
        }
        .menu__panel--level-2 {
            @media (min-width: 1025px) {
                margin-top: 0px !important;
            }
        }
        &__area--bottom {
            @media screen and (min-width: 1025px){
                height: 85px;
            }
        }
    }
    #ajaxBusy {
        display: none!important;
    }
    
    .lightbox {
        &__modal {
            top: 100%;
            display: block!important;
            transition: all 1s ease-in-out;
            transform: translate(-50%, 0) translate3d(0, 0, 0) scale(1, 1);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
            width: 100vw;
            max-width: 660px;

            img {
                margin: 0 auto;
            }
        }
        &__overlay {
            top: 100%;
            display: block;
            transition: all .6s ease-in-out;
            background: rgba(241, 241, 241, 0.95);
        }
        &.js-open {
            .lightbox__modal {
                top: 50%;
                transform: translate(-50%, -50%) translate3d(0, 0, 0) scale(1, 1);
            }
            .lightbox__overlay {
                top: 0;
            }
            @media (max-width: 768px) {
                .lightbox__close {
                    top: -40px;
                    left: 0;
                    text-align: right;
                    width: 100vw;
                }
                .lightbox__content {
                    padding: 0;
                }
                .lightbox__modal {
                    padding: 0;
                    background: transparent;
                    box-shadow: none;
                }
            }
        }
    }

    .backtotop {
        bottom: 30px;
        right: initial;
        left: 50%;
        margin-left: -30px;
    }
}

.full-product {
    background: #f1f1f1;
    margin-bottom: 60px;
    
    @media (max-width: 767px) {
        padding-bottom: 30px;
        overflow: hidden;
    }
    
    &__area {
        &-floater {
            width: 100%;
        }
        &--images {
            position: relative;
        }
    }
    &__name {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        width: calc(100% - 30px);
        @media (max-width: 767px) {
            text-align: center;
            width: 100%;
            font-size: 16px;
            margin-top: 20px;;
        }
    }
    &__images {
        display: flex;
        width: 100%;
        padding-right: 50px;
        visibility: hidden;
        @media (max-width: 1023px) {
            padding: 0;
            margin-left: -21px;
            width: calc(100% + 42px);
        }
        @media (max-width: 768px) {
            // overflow: hidden;
            // position: fixed;
            // width: calc(100% - 20px);
            // left: 20px;
        }
        .apresentacao {
            width: 100%;
        }
        #show {
            display: flex;
            flex-direction: row-reverse;
            @media (max-width: 768px) {
                width: calc(100% + 21px);
            }
        }
        
        #include {
            flex: 1 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                visibility: hidden;
                &.fadeIn {
                    visibility: visible;
                }
            }
            @media (max-width: 1023px) {
                display: none;
            }
            &.easyzoom {
                img {
                    visibility: visible;
                }
            }
        }
        
        #image {
            width: 100%;
            img {
                width: 100%;
            }
        }
        
        .thumbs {
            width: 100%;
            max-width: 130px;
            padding-right: 20px;
            @media (max-width: 1023px) {
                max-width: none;
                padding: 0;
            }
            
            li {
                margin-bottom: 10px;
                overflow: hidden;
                transition: all .35s ease-in-out;
                
                @media (min-width: 1025px) {
                    a {
                        opacity: 0.6;
                        
                        &.ON {
                            opacity: 1;
                        }
                    }
                }
            }

            .slick {
                &-dots li {
                    width: 12px;
                    height: 12px;
                    opacity: 0.5;
                    background: #fff;
                    &.slick-active {
                        opacity: 1;
                    }
                }
            }
            
            img {
                margin: 0 auto;
                width: 100%;
                transition: all 2s ease-in-out;
                
                &:hover {
                    transform: scale(1.1)
                }
                @media (max-width: 767px) {
                    &:hover {
                        transform: scale(1)
                    }
                }
            }
            @media (max-width: 767px) {
                max-width: none;
            }
            .slick-dots {
                position: absolute;
                bottom: 30px;
            }
        }
    }
    &__breadcrumb {
        padding: 5px 0 30px;
        @media (max-width: 767px) {
            padding: 5px 0 5px;
        }
        .container {
            padding: 0;
        }
        .bread-crumb {
            ul {
                @media (max-width: 767px) {
                    text-align: center
                }
            }
            li {
                color: #666666;
                font-size: 12px;
                padding: 5px;
                a {
                    color: #666666;
                    padding: 0;
                    display: inherit;
                    vertical-align: initial;
                    &:first-child {
                        &:after {
                            color: #666666;
                        }
                    }
                }
                &:after {
                    content: '►';
                    color: #666666;
                    font-size: 10px;
                    transform: scale(0.6, 1);
                    font-family: 'Arial';
                    margin-left: 10px;
                }
                
                &.last {
                    color: #000;
                    a {
                        color: #000;
                    }
                }
            }
        }
    }
    &__ref {
        color: #858585;
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 20px;
        
        label {
            margin-right: 5px;
        }
        
        @media (max-width: 767px) {
            text-align: center;
            justify-content: center;
            margin-top: 5px;
        }
    }
    &__price {
        border-bottom: 2px #dddddd solid;
        padding-bottom: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        @media (max-width: 767px) {
            margin-bottom: 20px;
            .plugin-preco {
                width: 100%;
            }
        }
        .preco-a-vista.price-cash,
        .economia-de {
            display: none!important
        }
        .descricao-preco {
            justify-content: flex-start;
            position: relative;
            align-items: flex-end;
            @media (max-width: 767px) {
                align-items: center;
                max-width: 300px;
                margin: 0 auto;
            }
        }
        .price-list-price {
            font-size: 0;
            font-style: normal;
            display: block;
            width: 100%;
            .skuListPrice {
                font-size: 14px;
                font-weight: 400;
                text-decoration: line-through;
                color: #666666;
            }
            @media (max-width: 767px) {
                flex: 1 0 50%;
            }
        }
        .price-best-price {
            // display: none!important;
            font-size: 0;
            font-style: normal;
            .skuBestPrice {
                font-size: 26px;
                font-weight: 700;
                margin-right: 10px;
            }
            .skuListPrice {
                font-size: 14px;
                font-weight: 400;
                text-decoration: line-through;
                color: #666666;
                display: block;
            }
            @media (max-width: 767px) {
                flex: 1 0 50%;
            }
        }
        .price-installments {
            font-size: 14px;
            color: #666666;
            font-style: normal;
            font-weight: 600;
            padding-bottom: 3px;
            @media (max-width: 767px) {
                flex: 1 0 50%;
                span {
                    > span {
                        display: block;
                    }
                }
            }
        }
        .skuBestInstallmentValue {
            color: #000;
            font-size: 18px;
            &:after {
                content: 'sem juros';
                font-size: 14px;
                color: #666666;
                margin-left: 3px;
                font-weight: 400;
            }
        }
    }
    &__discount-flag {
        background: #000;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        padding: 5px 7px;
        margin-left: 10px;
        margin-bottom: 10px;
        user-select: none;
        position: absolute;
        right: 0;
        
        @media (max-width: 767px) {
            top: 30px;
            right: initial;
            left: -20px;
            margin: 0;
            z-index: 1;
        }
    }
    &__specification {
        display: none;
    }
    &__selector {
        display: flex;
        margin-bottom: 35px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        
        &--item {
            width: 32px;
            height: 32px;
            margin-right: 8px;
            margin-bottom: 8px;
            overflow: hidden;
            transition: all .15s ease-in-out;
            border: 2px transparent solid;
            outline: 2px transparent solid;
            cursor: pointer;
            &:hover {
                outline: 1px #000 solid;
                border-color: white;
            }
            &.is-selected {
                outline: 1px #000 solid;
                border-color: white;
            }
            &.branco {
                border: 1px #d8d8d8 solid;
            }
            @media (max-width: 767px) {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
        
        &--color {
            width: 100%;
            label {
                flex: 0;
                font-size: 12px;
                color: #666666;
                font-weight: 700;
                line-height: 13px;
                margin-right: 40px;
                text-transform: uppercase;
                
                span {
                    color: #000;
                }
                @media (max-width: 767px) {
                    flex: 1 0 100%;
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 20px;
                    font-size: 15px;
                }
            }
            ul {
                flex: 1;
                @media (max-width: 767px) {
                    flex: 1 0 100%;
                    justify-content: center;
                }
            }
        }
        
        &--button {
            display: block;
            width: 100%;
            height: 100%;
        }
    } 
    &__social {
        width: 30px;
        position: relative;
        i {
            font-size: 25px;
            cursor: pointer;
        }
        .icon-whatsapp {
            left: -2px;
            top: -1px;
            position: relative;
        }
        @media (max-width: 767px) {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 1;
        }
    }
    &__size {
        width: calc(50% - 5px);
        position: relative;
        &--button {
            background: #fff;
            color: #333333;
            border: 1px #333333 solid;
            width: 100%;
            text-align: left;
            font-size: 13px;
            font-weight: 600;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            height: 50px;
            padding: 10px;
            position: relative;
            display: flex;
            align-items: center;
            align-self: center;
            justify-content: flex-start;
            
            &.unselected {
                border-color: #d40303;
                color: #d40303;
                background: #fff8f7;
            }
            
            i {
                position: absolute;
                right: 15px;
                &.is-active {
                    &:before {
                        display: none;
                    }
                }
            }
        }
        &--options {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) scale(1, 0);
            width: 100%;
            background: white;
            box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
            border: 1px #a7a7a7 solid;
            transition: all .15s cubic-bezier(0.55, 0.06, 0.68, 0.19);
            opacity: 0;
            z-index: 1;
            
            &.is-open {
                opacity: 1;
                transform: translateY(-50%) scale(1, 1);
            }
        }
        &--option {
            transition: all .25s linear;
            width: 100%;
            text-align: left;
            padding: 5px 10px;
            &:hover {
                background: rgba(0, 0, 0, 0.15)
            }
            @media (max-width: 767px) {
                padding: 10px 10px 10px 20px;
                font-size: 17px;
            }
        }
        &--item {
            &.is-selected {
                background: #ececec;
            }
            &.is-unavailable {
                display: none;
            }
        }
        &--value {
            background: #ddd;
            padding: 0 15px;
            font-size: 17px;
            line-height: 48px;
            position: absolute;
            left: 0;
            top: 0;
            &:empty {
                display: none;
            }
        }
        &--text {
            transition: all .25s ease-in-out;
            &.is-active {
                margin-left: 65px;
            }
        }
        &--tooltip {
            color: red;
            padding-left: 5px;
            font-size: 12px;
            @media (max-width: 767px) {
                color: #d20303;
                padding-left: 5px;
                font-size: 14px;
            }
        }
        &--overlay {
            background: rgba(0, 0, 0, 0.1);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            opacity: 0;
            transform: scale(1, 0);
            &.is-open {
                opacity: 1;
                transform: scale(1, 1);
            }
        }
        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__buy {
        width: calc(50% - 5px);
        padding: 0;
        line-height: 50px;
        border: 0;
        font-weight: 700;
        font-size: 13px;
        display: block;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__flags {
        position: absolute;
        display: none;
    }
    &__purchase {
        margin-bottom: 25px;
        position: relative;
        z-index: 1;
    }
    &__actions {
        margin-bottom: 35px;
        position: relative;
        z-index: 0;
        &--button {
            font-size: 12px;
            padding: 0;
            display: flex;
            align-items: center;
            padding: 10px 0 30px;
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: #000;
                position: absolute;
                bottom: -2px;
                transition: all 100ms ease-in-out;
                left: 50%;
                transform: translateX(-50%)
            }
            
            svg {
                margin-right: 10px;
            }
            
            @media (max-width: 767px) {
                flex-direction: column;
                svg {
                    display: block;
                    margin: 0 auto 10px;
                }
            }
            
            &.active {
                &:after {
                    width: 100%;
                }    
            }
        }
        &--content {
            &-buttons {
                border-bottom: 2px #dddddd solid;
            }
        }
    }
    &__action {
        @media (max-width: 767px) {
            flex: 0 0 33%;
            align-items: center;
            align-self: center;
            display: flex;
            justify-content: center;
            button {
                width: 100%;
            }
        }
        &--box {
            transition: all .25s ease-in-out;
            height: 0;
            overflow: hidden;
            position: relative;
            &.active {
                padding: 30px 0 50px;
                height: auto;
                border-bottom: 2px #ddd solid;
            }
            &-inner {
                padding: 0 20px;
                font-weight: 400;
            }
        }
        &--close {
            position: absolute;
            background: #dddddd;
            font-size: 15px;
            color: #666;
            width: 36px;
            height: 30px;
            bottom: 0;
            left: 50%;
            margin-left: -15px;
            text-align: center;
            padding: 0!important;
            
            i {
                text-align: center;
                width: 100%;
            }
        }
    }
    &__shipping {
        fieldset {
            border: 0;
            padding: 0;
            margin: 0;
            max-width: 190px;
            flex: 1 0 50%;
            position: relative;
            input[type=number] {
                border: 1px #000 solid;
                color: #000;
                padding: 10px;
                width: 100%;
                background: transparent;
                font-size: 14px;
                height: 40px;
                font-weight: 600;
                border-radius: 0;
                appearance: none;
            }
            button {
                background: #000;
                color: #fff;
                font-weight: 700;
                height: 40px;
                width: 40px;
                position: absolute;
                right: 0;
            }
            a.nao-sei {
                color: #666666;
                font-weight: 600;
                text-decoration: underline;
                margin-top: 15px;
                font-size: 12px;
            }
        }
        
        &--close {
            display: none;
        }
        
        &-table {
            width: 100%;
            thead {
                display: none;
            }
            &--value {
                font-weight: 700;
            }
            
        }
        
        .custom-shipping {
            &__result {
                display: none;
                font-size: 13px;
                margin-top: 0px;
                text-align: center;
                flex: 1 0 50%;
            }
        }
    }
    &__experimente {
        color: #666666;
        font-weight: 400;
        img {
            opacity: 0.6;
            margin-right: 10px;
            width: 20px;
        }
        tbody tr {
            padding-bottom: 0px;
            display: block;
        }
    }
    &__shelf {
        background: #fff;
        padding-bottom: 30px;
        overflow: hidden;
        &-title {
            display: block;
            font-size: 24px;
            letter-spacing: 5px;
            font-weight: 300;
            padding: 20px 0 30px;
            text-align: center;
        }
        .slick-list {
            padding: 0!important;
            @media (max-width: 768px) {
                padding-right: 100px!important;
            }
        }
        .prateleira {
            &>ul {
                margin: 0 -5px;
                width: calc(100% + 10px);
            }
            
            .slick-slide {
                padding: 0 5px;
            }
            .slick-arrow {
                transform: none;
                top: calc(50% - 80px);
            }
        }
        .shelf-product {
            &__price-best {
                color: #000;
                font-size: 14px;
            }
            &__title {
                font-size: 12px;
                font-weight: 300;
            }
            
            &__info {
                a {
                    margin: 8px 0 0;
                }
            }
        }
    }
    &__overlay {
        background: #f1f1f1;
        width: 100%;
        height: 0;
        position: fixed;
        z-index: 9999;
        bottom: 0;
        left: 0;
        overflow: hidden;
        transition: all 1s ease-in-out;
        &.is-active {
            height: 100%;
        }
    }
}

.profile-main-loader{
    left: 50% !important;
    margin-left:-100px;
    position: absolute !important;
    top: 50% !important;
    margin-top: -100px;
    width: 45px;
    z-index: 9000 !important;
    .loader {
        position: relative;
        margin: 0px auto;
        width: 200px;
        height:200px;
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }
}

.circular-loader {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.loader-path {
    stroke-dasharray: 150,200;
    stroke-dashoffset: -10;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}
@-webkit-keyframes color {
    0% {
        stroke: #999;
    }
    40% {
        stroke: #999;
    }
    66% {
        stroke: #999;
    }
    80%, 90% {
        stroke: #999;
    }
}
@keyframes color {
    0% {
        stroke: #999;
    }
    40% {
        stroke: #999;
    }
    66% {
        stroke: #999;
    }
    80%, 90% {
        stroke: #999;
    }
}









.menu-button{
    transition: 0.4s;
    position:absolute;
    right:0;
    top:0;
    text-align:center;
    color:#000;
    font-size:24px;
    cursor:pointer;
    > i {
        @media (max-width: 767px) {
            z-index: 1;
            position: relative;
            padding: 10px;
            right: -10px;
        }
    }
    a{
        transition: 0.4s;
        opacity:0;
        width:0px;
        height:0px;
        text-align:center;
        line-height:50px;
        border-radius:50%;
        color:#FFFFFF;
        font-size:24px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
        cursor:pointer;
        &:hover{
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        }
        &:nth-child(2){
            transition-delay: 0.3s;
            position:absolute;
            right:30px;
            bottom:30px;
            background:#000;
            }
            &:nth-child(3){
                transition-delay: 0.4s;
                position:absolute;
                right:30px;
                bottom:30px;
                background:#000;
                @media (max-width: 767px) {
                    right: -100px;
                }
            }
            &:nth-child(4){
                transition-delay: 0.5s;
                position:absolute;
                right:30px;
                bottom:30px;
                background:#000;
                @media (max-width: 767px) {
                    right: -100px;
                }
            }
    }
        &:hover{
            a{
                opacity:1;
                width:50px;
                height:50px;
                &:nth-child(2){
                    right:40px;
                    bottom:-50px;
                    @media (max-width: 767px) {
                        right: -15px;
                        bottom: -135px;
                    }
                    &:hover{
                        transition-delay: 0s;
                        background:darken(#555,5%);
                    }
                }
                &:nth-child(3){
                    right:85px;
                    bottom:0px;
                    @media (max-width: 767px) {
                        right: -15px;
                        bottom: -65px;
                    }
                    &:hover{
                        transition-delay: 0s;
                        background:darken(#666,5%);
                    }
                }
                &:nth-child(4){
                    right:40px;
                    bottom:50px;
                    &:hover{
                        transition-delay: 0s;
                        background:darken(#777,5%);
                    }
                }
            }
        }
    }
    