<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important;">


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

  <title>{{_accountInfo.TradingName}}</title>
  <!--[if gte mso 9]>
    <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
  <style>
    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }
  </style>
  <style>
    @media (max-width: 600px) {
      img {
        max-width: 100% !important;
        height: auto !important;
      }
    }
  </style>
  <style>
    @media screen and (min-width: 30em) {
      .w-50-ns {
        width: 50% !important;
      }
      .pr4-ns {
        padding-right: 2rem !important;
      }
      .ph4-ns {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
      }
      .mv1-ns {
        margin-top: .25rem !important;
        margin-bottom: .25rem !important;
      }
      .mv4-ns {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
      }
    }
  </style>
</head>


<body style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">

  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; margin: 0; padding: 0; background: #f1f1f1; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; width: 100%; height: 100%; line-height: 100% !important;">
    <tr style="box-sizing: border-box !important;">
      <td align="left" valign="top" style="font-size: 13px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
        
        
        <table class="mv4-ns" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; max-width: 40rem; width: 100%; background-color: #fff; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" bgcolor="#fff">


<!-- [HEADER] -->
<tr style="box-sizing: border-box !important;">
  <td align="center" class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; border-bottom-style: solid; border-bottom-width: 0px; border-color: #eee; width: 100%; text-align: center !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
    
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; line-height: 100% !important; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; margin-bottom: 1rem; margin-top: 2rem; margin-right: auto; margin-left: auto !important;font-size: 14px;">
      <tr>
        <td style="box-sizing: border-box; width: 8rem;" align="center">
          
          <a href="http://{{_accountInfo.HostName}}.com.br/?utm_source=email&utm_medium=transacionais" style="box-sizing: border-box !important;">
            <img src="https://storetng.vteximg.com.br/arquivos/email-logo-tng.png" alt="" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; border: none !important; margin: 0 auto;">
          </a>

        </td>
      </tr>
    </table>
    
  </td>
</tr>
<!-- [/HEADER] -->


<!-- [BANNER] -->  
  <tr style="box-sizing: border-box !important;">
    <td>
      
      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; line-height: 100% !important; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; margin-bottom: 40px;">
        <tr bgcolor="#f0ede8">
          <td>
            <img src="https://storetng.vteximg.com.br/arquivos/email-banner-tng.jpg" alt="" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; border: none !important;">
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<!-- [/BANNER] -->


<!-- [TEXTO] -->  
  <tr style="box-sizing: border-box !important;">
    <td class="ph4-ns">
      
      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000; margin-bottom: 0px; font-size: 14px;">
        <tr>
          <td style=" text-align: center !important;">
  
            <h1 style="margin: 0; font-size: 24px; box-sizing: border-box !important; padding-bottom: 20px; font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; text-transform: uppercase;">Olá{{#if orders.0.clientProfileData.firstName}}, {{orders.0.clientProfileData.firstName}}{{else}}!{{/if}}</h1>
            <p style="margin-top: 1em; margin-bottom: 1em; line-height: 2em;">
              Agradecemos por realizar sua compra na {{_accountInfo.TradingName}}.<br>
              Seu pedido <b>{{orders.0.orderId}}</b> foi recebido e está em processo de análise.
            </p>
            <p style="margin-top: 1em; margin-bottom: 1em; line-height: 2em;">Após a confirmação de pagamento, <br>
            iremos realizar a entrega para o endereço definido.
            </p>

            <!-- [BOTAO BLACK] -->
            <a href="http://{{_accountInfo.HostName}}.com.br/account/orders?utm_source=email&utm_medium=transacionais" style="background:black; color:white; padding:11px 0 12px; text-decoration: none; text-transform: uppercase; font-size: 10px; display: block; width: 224px; text-align: center; margin: 28px auto 0;">Acompanhe seu pedido aqui</a>
            <!-- [/BOTAO BLACK] -->
            
            {{#each orders.0.paymentData.transactions}}
                {{#each payments}}
                    <div style="margin-top: 20px;">
                        <strong>{{paymentSystemName}} </strong>
                        <span>R$ {{formatCurrency value}} à vista</span> 
                        {{#eq paymentSystemName 'Boleto Bancário'}}
                        <span>
                            <a href="{{replace url '{Installment}' installments}}" style="background:#25ad19; color:white; padding:11px 0 12px; text-decoration: none; text-transform: uppercase; font-size: 14px; letter-spacing: 1px; display: block; width: 224px; text-align: center; margin: 10px auto 0;">Imprimir Boleto</a>
                        </span>
                        {{/eq}}
                    </div>
                {{/each}}
            {{/each}}

          </td>
        </tr>
      </table>

    </td>
  </tr>
<!-- [/TEXTO] -->


<!-- [IMG_CENTER] -->  
  <tr style="box-sizing: border-box !important;">
    <td class="ph4-ns">
      
      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000; margin-bottom: 20px;">
        <tr>
          <td align="center" style=" text-align: center !important;">
  
            <img src="https://storetng.vteximg.com.br/arquivos/email-order-status-1.png" alt="" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none !important; margin-top: 20px; margin-left: auto; margin-right: auto;">
            
            <p style="margin-top: 1em; margin-bottom: 1em; font-weight: bold; text-transform: uppercase;">Pedido nº {{orders.0.orderId}} -  efetuado em {{formatDate orders.0.creationDate}} ás {{formatTime orders.0.creationDate}}</p>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<!-- [/IMG_CENTER] -->


<!-- [BOX-ORDER] -->  
<tr style="box-sizing: border-box !important;">
  <td class="ph4-ns">
    
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000; margin-bottom: 20px;font-size: 14px;">
      <tr>     
        <td width="30%" valign="top" style="width: 30%; border: 1px solid black;">

          <!-- [endereço de entrega/retirada] -->
          {{#each orders}}
            {{#richShippingData shippingData}}
              {{#group logisticsInfo by="addessId"}}   
                <!-- [BOX-INFO] -->
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000;font-size: 12px;">

                <!-- [itens de entrega/retirada] -->
                {{#compare items.0.selectedDeliveryChannel '==' null}}
                  <tr>
                    <td style="text-transform:uppercase; background-color:black; color:white; text-align:center; padding:6px 0;">
                      Endereço de entrega
                    </td>
                  </tr>
                  {{#if orders.0.giftRegistryData}}
                    {{orders.0.giftRegistryData.description}}
                  {{else}}
                    {{#each ../../shippingData.availableAddresses}}
                      {{#eq ../addressId AddressId}}
                        <tr>
                          <td style="padding:10px;">
                            <b style="text-transform:uppercase;">{{receiverName}}</b>
                            <p>{{street}}, {{number}} {{#if complement}} - {{complement}}{{/if}}<br>
                              {{neighborhood}}<br>
                              {{city}} - {{state}}<br>
                              CEP {{postalCode}}</p>
                          </td>
                        </tr>
                      {{/eq}}
                    {{/each}}
                  {{/if}}
                {{/compare}}

                {{#eq items.0.selectedDeliveryChannel "delivery"}}
                  <tr>
                    <td style="text-transform:uppercase; background-color:black; color:white; text-align:center; padding:6px 0;">
                      Endereço de entrega
                    </td>
                  </tr>
                  {{#if orders.0.giftRegistryData}}
                    {{orders.0.giftRegistryData.description}}
                  {{else}}
                    {{#each ../../shippingData.availableAddresses}}
                      {{#eq ../addressId AddressId}}
                        <tr>
                          <td style="padding:10px;">
                            <b style="text-transform:uppercase;">{{receiverName}}</b>
                            <p>{{street}}, {{number}}{{#if complement}} - {{complement}}{{/if}}<br> 
                              {{neighborhood}}<br>
                              {{city}} - {{state}}<br>
                              CEP {{postalCode}}</p>
                            </td>
                        </tr>
                      {{/eq}}
                    {{/each}}
                  {{/if}}
                {{/eq}}

                {{#eq items.0.selectedDeliveryChannel "pickup-in-point"}}
                  <tr>
                    <td style="text-transform:uppercase; background-color:black; color:white; text-align:center; padding:6px 0;">
                      Endereço de retirada
                    </td>
                  </tr>
                  {{#each items.0.slas}}
                    {{#compare ../items.0.selectedSla '==' id}}
                      <tr>
                        <td style="padding:10px;">
                          <b style="text-transform:uppercase;">{{pickupStoreInfo.friendlyName}}</b>
                          {{#with pickupStoreInfo.address}}
                            <p>{{street}}, {{number}}{{#if complement}} - {{complement}}{{/if}}<br>
                              {{neighborhood}}
                            </p>
                          {{/with}}
                          </td>
                      </tr>
                    {{/compare}}
                  {{/each}}
                {{/eq}}
                <!-- [/itens de entrega/retirada] -->
                
                </table>
                <!-- [/BOX-INFO] -->
              {{/group}}
            {{/richShippingData}}
          {{/each}}
          <!-- [/endereço de entrega/retirada] -->

        </td>
        <td width="5%" style="width: 5%"></td>
        <td width="30%" valign="top" style="width: 30%; border: 1px solid black;">
        
          <!-- [forma de entrega] -->
          {{#each orders}}
            {{#richShippingData shippingData}}
              {{#group logisticsInfo by="addessId"}}   
                <!-- [BOX-INFO] -->
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000;font-size: 12px;">
                  <tr>
                    <td style="text-transform:uppercase; background-color:black; color:white; text-align:center; padding:6px 0;">
                      forma e entrega
                    </td>
                  </tr>
                  <tr>
                    <td style="padding:10px;">

                      <!-- [forma e entrega] -->
                      {{#group items by="packageId"}}
                        {{#each items}}
                          {{#compare @index '==' 0}}
                            {{#each ../../../../items}}
                              
                              {{#eq id ../itemId}}
                                <p style="font-size:12px; font-weight:bold;"> 
                                {{#compare ../selectedDeliveryChannel "!=" "pickup-in-point"}}
                                  {{#if ../deliveryWindow}}
                                      Agendada para
                                  {{else}}
                                      {{../selectedSla}}
                                  {{/if}}
                                {{/compare}}
                                </p>

                                {{/eq}}
                              {{/each}}
                              {{#each ../../items}}
                                {{#eq id ../itemId}}  

                                <p style="font-size:12px;"> 
                                {{#if ../deliveryWindow}}
                                  {{formatDate ../deliveryWindow.startDateUtc}}
                                    entre
                                  {{formatTime ../deliveryWindow.startDateUtc}}
                                    e
                                  {{formatTime ../deliveryWindow.endDateUtc}}
                                {{else}}
                                  {{#unless ../shippingEstimateDate}}
                                    
                                    {{#eq ../shippingEstimateDays "0"}}
                                      {{#eq ../selectedDeliveryChannel "pickup-in-point"}}
                                        A partir de hoje
                                      {{else}}
                                        Hoje
                                      {{/eq}}
                                    {{else}}
                                      {{#eq ../selectedDeliveryChannel "pickup-in-point"}}
                                        A partir de
                                      {{else}}
                                        Em até
                                      {{/eq}}
                                      {{#compare shippingEstimateDays ">" "1"}}         
                                        {{#eq shippingEstimateDaysType "bd"}}
                                          {{shippingEstimateDays}} dias úteis
                                        {{else}}
                                          {{#eq shippingEstimateDaysType "d"}}
                                            {{shippingEstimateDays}} dias
                                          {{else}}
                                            {{#eq shippingEstimateDaysType "h"}}
                                              {{shippingEstimateDays}} horas
                                            {{else}}
                                              {{shippingEstimateDays}} minutos
                                            {{/eq}}
                                          {{/eq}}
                                        {{/eq}}
                                      {{else}}
                                        {{#eq shippingEstimateDaysType "bd"}}
                                          {{shippingEstimateDays}} dia útil
                                        {{else}}
                                          {{#eq shippingEstimateDaysType "d"}}
                                            {{shippingEstimateDays}} dia
                                          {{else}}
                                            {{#eq shippingEstimateDaysType "h"}}
                                              {{shippingEstimateDays}} hora
                                            {{else}}
                                              {{shippingEstimateDays}} minuto
                                            {{/eq}}
                                          {{/eq}}
                                        {{/eq}}
                                      {{/compare}}
                                    {{/eq}}

                                  {{else}}

                                    {{#eq ../deliveryChannel "pickup-in-point"}}
                                      A partir de
                                    {{else}}
                                      Até
                                    {{/eq}}
                                    {{formatDate ../shippingEstimateDate}}
                                  {{/unless}}
                                  </p>
                                {{/if}}    
                              {{/eq}}

                            {{/each}}
                          {{/compare}}
                        {{/each}}
                      {{/group}}
                      <!-- [/forma e entrega] -->



                    </td>
                  </tr>
                </table>
                <!-- [/BOX-INFO] -->
              {{/group}}
            {{/richShippingData}}
          {{/each}}
          <!-- [/forma de entrega] -->

        </td>
        <td width="5%" style="width: 5%"></td>
        <td width="30%" valign="top" style="width: 30%; border: 1px solid black;">
          
          <!-- [forma de pagamento] -->
          {{#compare split "!=" true}}            
            <!-- [BOX-INFO] -->
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000;font-size: 12px;">
              <tr>
                <td style="text-transform:uppercase; background-color:black; color:white; text-align:center; padding:6px 0;">
                  forma de pagamento
                </td>
              </tr>
              <tr>
                {{#each orders.0.paymentData.transactions}}
                  <td style="padding:10px;">
                    {{#compare payments.length "==" 1}}
                      {{#each payments}}
                        <b style="text-transform:uppercase;">{{paymentSystemName}}</b>
                        <p>{{#if lastDigits}} final {{lastDigits}} <br/>{{/if}}
                        R$ {{formatCurrency value}}
                        {{#eq installments 1}}
                          à vista
                        {{else}}
                          em {{installments}}x
                        {{/eq}}
                        </p>
                      {{/each}}
                    {{/compare}}
                    {{#compare payments.length "!=" 1}}
                      {{#each payments}}
                        <b style="text-transform:uppercase;">{{paymentSystemName}}</b>
                        <p>{{#if lastDigits}} final {{lastDigits}} <br/>{{/if}}
                        R$ {{formatCurrency value}}
                        {{#eq installments 1}}
                          à vista
                        {{else}}
                          em {{installments}}x
                        {{/eq}}
                        </p>
                      {{/each}}
                    {{/compare}}
                  </td>
                {{/each}}
              </tr>
            </table>
            <!-- [/BOX-INFO] -->
          {{/compare}}
          <!-- [/forma de pagamento] -->

        </td>
      </tr>
    </table>


    <!-- [BOX-LISTA-PRODUTOS] -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000; margin-bottom: 50px; border: 1px solid black;font-size: 12px;">
      <tr>
        <td style="text-transform:uppercase; background-color:black; color:white; text-align:center; padding:6px 0;">
          Resumo do pedido
        </td>
      </tr>
      <tr>
        <td style="padding:10px 10px 0;">
          
          <!-- [TAB-PRODUTOS] -->
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000; font-size: 10px;">
            <tr>
              <td style="text-transform:uppercase; padding-bottom: 8px; width: 44%; border-bottom: 1px solid black; text-align: left;"><b>Produtos</b></td>
              <td style="text-transform:uppercase; padding-bottom: 8px; width: 5%; border-bottom: 1px solid black; text-align: center;"><b>QTD</b></td>
              <td style="text-transform:uppercase; padding-bottom: 8px; width: 17%; border-bottom: 1px solid black; text-align: right;"><b>Valor unitário</b></td>
              <td style="text-transform:uppercase; padding-bottom: 8px; width: 17%; border-bottom: 1px solid black; text-align: right;"><b>Desconto</b></td>
              <td style="text-transform:uppercase; padding-bottom: 8px; width: 17%; border-bottom: 1px solid black; text-align: right;"><b>Subtotal</b></td>
            </tr>

            <!-- [ITEM] -->
            {{#each orders}}
              {{#each items}}
                <tr>
                  <td  style="border-bottom: 1px solid #cccccc; text-transform:uppercase; text-align: left; padding: 8px 0;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt;font-size: 12px;">
                      <tr>
                        <td style="padding-right: 8px;">
                          <img style="display:block;" src="{{imageUrl}}" alt="">
                        </td>
                        <td style="line-height:12px;">
                          <b>{{name}}</b><br>
                          <span style="color:#818181">ref: {{refId}}</span>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td style="border-bottom: 1px solid #cccccc; text-align: center;">{{quantity}}</td>
                  <td style="border-bottom: 1px solid #cccccc; text-align: right;">{{#if price}}R$ {{formatCurrency price}}{{else}}Grátis{{/if}}</td>
                  <td style="border-bottom: 1px solid #cccccc; text-align: right;">R$ {{formatCurrency (math price '-' sellingPrice)}}</td>
                  <td style="border-bottom: 1px solid #cccccc; text-align: right;">R$ {{formatCurrency sellingPrice}}</td>
                </tr>
              {{/each}}
            {{/each}}
            <!-- [/ITEM] -->
            
          </table>
          <!-- [/TAB-PRODUTOS] -->


          <!-- [TOTAL] -->
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000; font-size: 10px;">
            <tr>
              <td style="text-align: right; width: 100%; padding: 0 0 10px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: #f1f1f1; width: 100%; box-sizing: border-box; margin: 0;  border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt;font-size: 12px;">
                  <tr>
                    <td style="width:83%;" align="right">SUBTOTAL:</td>
                    <td align="right" style="width:17%;padding:10px 10px 5px;"><b>R$ {{formatCurrency orders.0.totals.0.value}}</b></td>
                  </tr>
                  <tr>
                    <td align="right">ENTREGA:</td>
                    <td align="right" style="padding:5px 10px 5px;"><b>R$ {{formatCurrency orders.0.totals.2.value}}</b></td>
                  </tr>
                  <tr>
                    <td align="right">DESCONTO:</td>
                    <td align="right" style="padding:5px 10px 5px;"><b>R$ {{formatCurrency orders.0.totals.1.value}}</b></td>
                  </tr>
                  <tr>
                    <td align="right">TOTAL:</td>
                    <td align="right" style="padding:5px 10px 10px; color: #DA2128;"><b>R$ {{formatCurrency orders.0.value}}</b></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- [/TOTAL] -->
          
        </td>
      </tr>
    </table>
    <!-- [/BOX-LISTA-PRODUTOS] -->


  </td>
</tr>
<!-- [/BOX-ORDER] -->  


<!-- [FOOTER] -->
<tr style="box-sizing: border-box !important; border-top: 1px solid #cccccc;">
  <td class="ph4-ns">
    
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000; margin-bottom: 20px;font-size: 14px;">
      <tr>
        <td style=" text-align: center !important;">

          <!-- [BOTAO WHITE] -->
          <a href="https://www.{{_accountInfo.HostName}}.com.br/?utm_source=email&utm_medium=transacionais" style="background:white; color:black; padding:11px 0; border: 1px solid black; text-decoration: none; text-transform: uppercase; font-size: 14px; display: block; width: 222px; text-align: center; margin: 35px auto 0;">Fale conosco</a>
          <!-- [/BOTAO WHITE] -->

          <p style="margin-top: 1em; margin-bottom: 1em;">Horário funcionamento - São Paulo - Capital: Segunda a sexta-feira 09:00h às 18:00h</p>

        </td>
      </tr>
    </table>
  </td>
</tr>
<tr style="box-sizing: border-box !important; background-color: #BCBEC0;">
  <td class="ph4-ns">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; color:#000000; font-size: 12px;">
      <tr>
        <td style=" text-align: center !important;">

          <p style="margin-top: 1em; margin-bottom: 1em;">Tng Comercio de Roupas LTDA © 2015. Todos os direitos reservados. Rua Ceará, 120 - Alphaville - Barueri - SP - 06465-120 - cnpj: 53.966.834/0236-78</p>

        </td>
      </tr>
    </table>

  </td>
</tr>
<!-- [/FOOTER] -->


          </table>

        </td>
      </tr>
    </table>

  </body>
</html>
