#set($unavailable = "")
#if ($product.IsInStock == false)
#set($unavailable = "shelf-product--unavailable")
#end

<div class="shelf-product $unavailable" title="$product.HtmlEscapedName" href="$product.Uri" data-product-id="$product.Id">
    $product.HightLight
    <figure class="shelf-product__container">
        <div class="shelf-product__image">
            <a title="$product.HtmlEscapedName" href="$product.Uri">
            $product.GetImageTag(505, 690)$product.GetImageTag(505, 690, "IMAGEM2")</a>
            <div class="shelf-product__interactive interactive">
                <div class="interactive__sku-variation-size-quantity">
                    <div class="interactive__sku-variation-size">
                        <button class="interactive__sku-variation-size-button"></button>
                        <div class="interactive__sizes"></div>
                    </div>
                </div>
            </div>
        </div>
        <figcaption class="shelf-product__info"><a class="grid grid--middle grid--center" title="$product.HtmlEscapedName" href="$product.Uri">
            <h3 class="shelf-product__title">$product.HtmlEscapedName</h3></a>
            <div class="shelf-product__price">
                #if ($product.IsInStock)
                #if ($product.HasBestPrice)
                <strong class="shelf-product__price-list">$product.ListPrice</strong>
                #end
                <strong class="shelf-product__price-best">$product.BestPrice</strong>
                #if ($product.NumbersOfInstallment > 1)
                <span class="shelf-product__installments">
                    <strong>${product.NumbersOfInstallment}X de ${product.InstallmentValue}</strong> sem juros
                </span>
                #end
                #else
                <button class="shelf-product__unavailable button button--full button--disabled">Produto indisponível</button>
                #end
                <div class="interactive__colors grid grid--center"></div>
            </div>
        </figcaption>
    </figure>
</div>