<script>window.rex = { store: "storetng", version: "1.0.5" };</script>
<!--
+vtex-controller()
  script.
    window.rex.dev = true;
-->
<script type="text/javascript">
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1240200,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script>(function(m, a, i, l, b, z, j, s) {
    m['MailbizIntegration'] = {
      id: b,
      ready: 0
    };
    z = a.createElement(i);
    j = a.getElementsByTagName(i)[0];
    z.async = 1;
    z.src = l;
    j.parentNode.insertBefore(z, j);
  })(window, document, 'script', 'https://integration-hub.mailclick.me/static/scripts/integration.min.js', '5cd570d5ddfd2f28d5621333');
  </script>

<script src="/arquivos/om-slick.js?v=4"></script>
<script src="/arquivos/tng-1.0.5.min.js?v=12"></script>
<script src="/arquivos/new-tng-1.0.6.js?v=12"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.13.4"></script>
<script src="https://player.vimeo.com/api/player.js"></script>