<div class="footer__newsletter" style="display:none;"> 
    <div class="footer__newsletter--title">
        <p class="title">Newsletter</p>
    </div>
    <div class="footer__newsletter--text">Receba emails sobre eventos, vendas e ofertas.<br/>Cadastre-se em nossa newsletter.</div>
    <div class="footer__newsletter--form">
        <form id="newsletter-validate-detail" method="post" accept-charset="UTF-8">
            <div class="footer__newsletter--alert -sucess"></div>
            <div class="footer__newsletter--alert -erro"></div>
            <div class="footer__newsletter--campos">
                <input id="FormValue_CustomFieldName" type="text" name="FormValue_Fields[name]" value="" placeholder="nome"/>
                <input id="FormValue_EmailAddress" type="text" name="FormValue_Fields[EmailAddress]" value="" placeholder="e-mail"/>
                <input class="button" id="FormButton_Subscribe" type="submit" name="FormButton_Subscribe" value=" Cadastrar"/>
                <input type="hidden" name="FormValue_ListID" value="número da lista"/>
                <input id="FormValue_Command" type="hidden" name="FormValue_Command" value="Subscriber.Add"/>
            </div>
        </form>
    </div>
</div> 
<footer class="footer">
    <div class="container">
        <div class="footer__basic">
            <div class="footer__basic-col">
                <button class="footer__button-accordion">Institucional</button>
                <ul class="footer__basic--nav">
                    <li><a href="/Institucional/quem-somos" target="_blank" rel="noopener noreferrer">Quem somos</a></li>
                    <li><a href="/Institucional/nossas-lojas" target="_blank" rel="noopener noreferrer">Nossas lojas</a></li>
                    <li><a href="/Institucional/trabalhe-conosco" target="_blank" rel="noopener noreferrer">Trabalhe conosco</a></li>
                </ul>
            </div>
            <div class="footer__basic-col">
                <button class="footer__button-accordion">Ajuda</button>
                <ul class="footer__basic--nav">
                    <li><a href="/Atendimento/fale-conosco" target="_blank" rel="noopener noreferrer">Fale conoco</a></li>
                    <li><a href="https://tng.zendesk.com/hc/pt-br" target="_blank" rel="noopener noreferrer">Atendimento</a></li>
                    <li><a href="/Politicas/politica-de-privacidade" target="_blank" rel="noopener noreferrer">Política de privacidade</a></li>
                </ul>
            </div>
            <div class="footer__basic-col">
                <button class="footer__button-accordion">Minha Conta</button>
                <ul class="footer__basic--nav">
                    <li><a href="/_secure/account" target="_blank" rel="noopener noreferrer">Meus dados</a></li>
                    <li><a href="/_secure/account#/orders" target="_blank" rel="noopener noreferrer">Meus pedidos</a></li>
                </ul>
            </div>
            <div class="footer__basic-col">
                <button class="footer__button-accordion">Atendimento</button>
                <ul class="footer__basic--nav">
                    <li>
                        <div class="footer__basic--tel"><vtex.cmc:telefone />
                        </div>
                    </li>
                    <li><vtex.cmc:HorarioFuncionamento />
                    </li>
                </ul>
            </div>
            <div class="footer__basic-col">
                <button class="footer__button-accordion">Redes sociais</button>
                <ul class="footer__basic--nav footer__basic--redes-sociais">
                    <li><a href="https://www.facebook.com/onlinetng" target="_blank" rel="noopener noreferrer"><span class="icon icon-facebook"></span></a></li>
                    <li><a href="https://www.instagram.com/tng.oficial/" target="_blank" rel="noopener noreferrer"><span class="icon icon-instagram"></span></a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer"><span class="icon icon-spotify"></span></a></li>
                </ul>
            </div>
            <div class="footer__basic-col">
                <button class="footer__button-accordion">Cartão TNG</button>
                <ul class="footer__basic--nav footer__basic--cartao">
                    <li><img src="/arquivos/cartaotng-sorocred.png"/></li>
                    <li><a class="button button--full" href="/Cartao-TNG" target="_blank" rel="noopener noreferrer">Saiba Mais</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__basic">
            <div class="footer__basic-col footer__basic-col--full">
                <div class="footer__flags-title">
                    <button class="footer__button-accordion">Forma de Pagamento</button>
                </div>
                <div class="footer__flags-body">
                    <div class="footer__flags--payment"><img src="/arquivos/card-visa.png"/><img src="/arquivos/card-elo.png"/><img src="/arquivos/card-amex.png"/><img src="/arquivos/card-diners.png"/><img src="/arquivos/card-aura.png"/><img src="/arquivos/icon-boleto-checkout.png"/><img src="/arquivos/card-cielo.png"/><img src="/arquivos/card-mastercard.png"/><img src="/arquivos/card-hipercard.png"/><img src="/arquivos/card-jbc.png"/></div>
                    <div class="footer__flags--safety"><img src="/arquivos/checkout-rapid-ssl.png"/></div>
                    <div class="footer__flags--author"><a href="https://www.vtex.com/pt-br/" target="_blank" rel="noopener noreferrer"><img src="/arquivos/logo-vtex.png"/></a><a href="https://www.original.io/" target="_blank" rel="noopener noreferrer"><img src="/arquivos/logo-original.png"/></a><a class="logo-clearsale" href="https://br.clear.sale" target="_blank" rel="noopener noreferrer"><img src="/arquivos/logo-clearsale.png"/></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer__copy"><vtex.cmc:copyright />
</div>