<header class="header">
	<div class="header__area header__area--top">
		<div class="header__container container grid grid--nowrap">
			<div class="header__tipbar">
				<ul class="services">
					<li class="tipbar__item">
						<a class="services__link" href="https://tng.zendesk.com/hc/pt-br/categories/360000183471-Loja-Online" target="_blank" style="z-index: 500 !important;">
							<i class="icon icon-box"></i>
							<span>Troca Online *Sem Custo Ou Nas Lojas</span>
						</a>
					</li>
					<li class="tipbar__item">
						<i class="icon icon-truck"></i>
						<span>Frete Grátis Acima De R$249,99</span>
					</li>
					
				</ul>
			</div>
			<div class="header__services hide--sm hide--md">
				<ul class="services">
					<li class="services__item">
						<a class="services__link" href="https://tng.zendesk.com/hc/pt-br">
							<i class="icon icon-phone"></i>
							<span>Atendimento</span>
						</a>
					</li>
					<li class="services__item"><a class="services__link" href="/institucional/nossas-lojas">
						<i class="icon icon-pin"></i>
						<span>Nossas Lojas</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header__area header__area--bottom">
		<div class="header__floater">
			<div class="header__container container container--no-gutter grid grid--left grid--middle grid--nowrap">
				<div class="header__logo"><a class="logo" href="/" title="TNG"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 555.82 346.94">
					<defs></defs>
					<g id="logo">
						<g id="logo-layer">
							<path d="M0,165.94H32.37v78.13c0,11.46,2,20.27,5.83,27,3.79,6.46,9.63,11.16,18.09,13.81,8.16,2.69,19.24,3.86,32.95,3.86,16.63,0,25.18-2.56,39.76-4.61l16.32-32v33h61.83v-79c0-8.51,1.75-15.57,4.95-21.44a29.25,29.25,0,0,1,13.71-12.92,45.87,45.87,0,0,1,19.83-4.12c21.29,0,32.08,10.28,32.08,30.55V285.2h61.83V221.69a84.82,84.82,0,0,0,2.6,8.58,66.5,66.5,0,0,0,16.91,25c7.29,7.34,17.21,12.92,29.17,17,11.95,3.81,25.95,5.87,42.28,5.87A122.88,122.88,0,0,0,467,272.86c11.37-3.52,20.41-8.52,26.83-15.27v11.16c0,15-3.5,25.9-10.21,32.36s-18.66,9.76-35.87,9.7c-23.7-.09-30.56-3.58-32.59-13H346.89c1.81,19.75,9.79,30,27.92,38,9,4.12,19.83,7.05,32.37,8.52a310.91,310.91,0,0,0,43.16,2.65c19,0,35.29-1.47,48.71-4.7,13.12-2.94,23.91-7.35,32.37-13.52a51.71,51.71,0,0,0,18.37-23.5c3.79-9.4,5.84-20.9,5.84-34.41V124.52H495.55v20.27H495a52.26,52.26,0,0,0-16-13.8,71,71,0,0,0-22.17-8.23,128.56,128.56,0,0,0-26.25-2.64c-20.41,0-37.62,3.52-51.91,10.57-14,7.05-24.49,16.45-31.2,28.49a76.19,76.19,0,0,0-7.86,18.92c-.16-12.46-3.06-23-8.45-31.55-5.54-9.1-13.41-15.56-23.62-20s-21.87-6.46-35-6.46c-14.87,0-28,2.34-39.37,7.34s-20.41,11.46-27.12,20h-.59V124.52H145.32V245.13c-10.78.48-25.87,2.18-29.37,2.18-5.54,0-11.54-.3-14.46-1.18s-4.66-2.35-5.54-4.7c-1.17-2.35-1.75-5.87-1.75-10.86V165.94H130V124.52H94.2V73.41H32.37v51.11H0v41.42ZM402.23,200a38.23,38.23,0,0,1,4.95-19.38,33.29,33.29,0,0,1,15.17-13.81c6.7-3.23,15.16-5,25.37-5,10.5,0,19.25,1.76,26,5s11.95,7.64,15.16,13.51a40.08,40.08,0,0,1,5,20.27c0,25-15.46,37.6-46.08,37.6-14.87,0-26.25-3.52-33.83-10.57C406,220.58,402.23,211.47,402.23,200Z"/><path class="cls-1" d="M401.16,57.91a136.68,136.68,0,0,0-26.79,33H346c-4.11,0-5.82,4-6.15,6.1l-.17,1.09h37A246.77,246.77,0,0,0,498,60.21a65.57,65.57,0,0,0,4.36,10.08,59,59,0,0,0,17.92,20.64H466.61c-4.22,0-5.87,4-6.15,6.12l-.14,1.07h95.35l0-1c.07-1.26.11-2.54.11-3.81a63.25,63.25,0,0,0-51.18-62.15A15.2,15.2,0,0,1,511.11,24,14.33,14.33,0,0,1,518,22.36a22.84,22.84,0,0,1,10,2.54l.84.4,3.15-6.46-.84-.41A30.07,30.07,0,0,0,518,15.16a21.4,21.4,0,0,0-10.24,2.5A23,23,0,0,0,497.2,30.22c-1.55-.11-3.12-.17-4.68-.17a64.44,64.44,0,0,0-9.93.77c-.88.14-1.68.29-2.44.42a36.8,36.8,0,0,1-6.49.74,34.32,34.32,0,0,1-15.15-3.53l-.72-.41-.19-.1a1,1,0,0,0-.67-.36c-2.27-1.26-4.89-3-7.66-4.8s-5.74-3.78-8.8-5.56C429,10.54,417.08,3.64,412.67,2.41l-.84-.25A44.15,44.15,0,0,0,399.78,0a21.37,21.37,0,0,0-14.42,5.4l-2,1.73C375.19,14,368.78,19.43,368.78,29c0,7.44,2.92,8.8,5.74,10.13l.63.28A32.23,32.23,0,0,1,382,44.3c1.54,1.38,4.59,3.69,7.73,3.69a5.83,5.83,0,0,0,4.52-2.1A63.85,63.85,0,0,1,399.73,40a2.35,2.35,0,0,1,1.19-.41c.66,0,1.33.52,2,1.54a34,34,0,0,1,4.32,9.57c.42,1.67.43,1.73-3.17,4.65-.87.71-1.82,1.56-2.89,2.61ZM383,90.55c11.18-17.79,25-31.48,43.51-41,1.43-.75,2.67-1.39,3.68-2,3.71-2.14,6.34-3.18,8-3.18a4.66,4.66,0,0,1,1.29.19,6.5,6.5,0,0,1,1.1.42,5.08,5.08,0,0,0,1.91.54,2,2,0,0,0,1.34-.48c1.25-1,2.93-3.52.13-8.42a62.73,62.73,0,0,1-3.42-8.16l4.56,2c1.05.45,2.1.94,3.18,1.45,8.08,3.78,16.16,7.25,25.35,7.25a41.65,41.65,0,0,0,10.19-1.27,56.94,56.94,0,0,1,8.67-.67c1,0,1.91,0,2.91.08a46.5,46.5,0,0,0,.62,15.62A239.78,239.78,0,0,1,383,90.55ZM503.58,53.73a41,41,0,0,1-1-15.59,56.11,56.11,0,0,1,45.65,48.74,13.86,13.86,0,0,1-2.52,1.75,14.6,14.6,0,0,1-7,1.67c-10.51,0-22.62-9.4-30.13-23.4a56.16,56.16,0,0,1-5.09-13.17ZM434.69,35.67A134.16,134.16,0,0,0,414.94,47a3.23,3.23,0,0,1-.87-.14c-.75-.51-3-4.48-4.53-7.12l-1.23-2.15C406,33.64,402.5,31,399.57,31a5.38,5.38,0,0,0-.9.08c-2.55.51-4.12,2.85-5.94,5.56-.35.52-.71,1.06-1.09,1.61a3.63,3.63,0,0,1-3.16,1.81c-2,0-5-1.36-9-4.16-6.33-4.41-4.31-8.61-2.36-12.67l.38-.8c1.73-3.69,6.78-7.14,10.71-9.52l1.6,1.65A4.91,4.91,0,0,0,393.47,16a7.84,7.84,0,0,0,4.82-1.76c1.24-1.12.51-2.56,0-3.61a5.35,5.35,0,0,1-.84-2.84C397.6,5.71,400.08,5,402.15,5a10.12,10.12,0,0,1,1.43.1,4.69,4.69,0,0,1,3.72,2.44,4.94,4.94,0,0,1-.45,4.7l-.4.7.63.5c1.87,1.51,8.08,4.3,18.38,8.92l.09,0c7.67,3.45,8.5,7.79,9.11,11l0,.21A5.27,5.27,0,0,1,434.69,35.67Z"/>
						</g>
					</g>
				</svg>
			</a>
		</div>
		<div class="header__menu">
			<nav class="menu" id="menu">
				<button class="menu__toggle menu__js-toggle icon__button hide--lg"><i class="icon icon-menu"></i></button>
				<div class="menu__overlay menu__js-close"></div>
				<div class="menu__modal">
					<div class="menu__header hide--lg">
						<div class="menu__user">
							<div class="user js-loading"><a class="user__button user__login icon__button" href="/login" title="login"><i class="icon icon-user"></i><span class="hide--lg">Olá!
							<u>Acesse sua conta</u></span></a>
							<button class="user__button user__toggle user__js-toggle icon__button" title="minha conta"><i class="icon icon-user"></i><span class="hide--lg">Olá, <span class="user__name"></span><i class="icon icon-arrow"></i></span></button>
							<div class="user__overlay user__js-close"></div>
							<div class="user__modal">
								<div class="user__header hide--sm">
									<div class="user__greeting"><span>Olá, <span class="user__name"></span></span></div>
								</div>
								<div class="user__content">
									<ul class="user__actions">
										<li class="user__action"><a class="user__link" href="/_secure/account"><span>Minha conta</span></a></li>
										<li class="user__action"><a class="user__link" href="/_secure/account/orders"><span>Meus pedidos</span></a></li>
										<li class="user__action"><a class="user__link" href="/wishlist"><span>Meus favoritos</span></a></li>
										<li class="user__action"><a class="user__link user__logout" href="/no-cache/user/logout"><span>Sair</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<button class="menu__close menu__js-close icon__button"><i class="icon icon-close"></i></button>
				</div>
				<div class="menu__body">
					<div class="menu__container menu__container--level-0 container">
						<div class="menu__panel menu__panel--level-1">
							<div class="menu__container menu__container--level-1 container container--no-gutter">
								<ul class="menu__list menu__list--level-1">
									<li class="menu__item menu__item--level-1 menu__item--novidades menu__item--banner">
										<a class="menu__link menu__link--level-1" href="/novidades?O=OrderByReleaseDateDESC">
											<span>Novidades</span>
										</a>
										<button class="menu__handle menu__handle--level-1 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
										<div class="menu__panel menu__panel--level-2">
											<div class="menu__container menu__container--level-2 container container--no-gutter">
												<ul class="menu__list menu__list--level-2">
													<li class="menu__item menu__item--level-2 menu__item--masculino hide--lg">
														<a class="menu__link menu__link--level-2" href="/novidades/masculino?OrderByReleaseDateDESC">
															<span>Masculino</span>
														</a>
													</li>
													<li class="menu__item menu__item--level-2 menu__item--feminino hide--lg">
														<a class="menu__link menu__link--level-2" href="/novidades/feminino?OrderByReleaseDateDESC">
															<span>Feminino</span>
														</a>
													</li>
												</ul>
												<div class="menu__banners hide--sm hide--md">
													<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerNovidadesAMasc --><vtex:MenuBannerNovidadesAMasc />
												</div>
												<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerNovidadesBMasc --><vtex:MenuBannerNovidadesBMasc />
											</div>
											<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerNovidadesCMasc --><vtex:MenuBannerNovidadesCMasc />
										</div>
										<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerNovidadesDMasc --><vtex:MenuBannerNovidadesDMasc />
									</div>
									<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerNovidadesEMasc --><vtex:MenuBannerNovidadesEMasc />
								</div>
								<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerNovidadesFFem --><vtex:MenuBannerNovidadesFFem />
							</div>
							<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerNovidadesGFem --><vtex:MenuBannerNovidadesGFem />
						</div>
						<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerNovidadesHFem --><vtex:MenuBannerNovidadesHFem />
					</div>
					<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerNovidadesIFem --><vtex:MenuBannerNovidadesIFem />
				</div>
				<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerNovidadesJFem --><vtex:MenuBannerNovidadesJFem />
			</div>
			<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerNovidadesLFem --><vtex:MenuBannerNovidadesLFem />
		</div>
		<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerNovidadesMFem --><vtex:MenuBannerNovidadesMFem />
	</div>
</div>
</div>
</div>
</li>
	<li class="menu__item menu__item--level-1 menu__item--masculino menu__item--banner"><a class="menu__link menu__link--level-1" href="/masculino?O=OrderByReleaseDateDESC"><span>Masculino</span></a>
		<button class="menu__handle menu__handle--level-1 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
		<div class="menu__panel menu__panel--level-2">
			<div class="menu__container menu__container--level-2 container container--no-gutter">
				<ul class="menu__list menu__list--level-2">
					<li class="menu__item menu__item--level-2 menu__item--calcados"><a class="menu__link menu__link--level-2" href="/masculino/calcados?O=OrderByReleaseDateDESC"><span>Calçados</span></a>
					<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
					<div class="menu__panel menu__panel--level-3">
						<div class="menu__container menu__container--level-3 container container--no-gutter">
							<ul class="menu__list menu__list--level-3">
								<li class="menu__item menu__item--level-3 menu__item--coturnos"><a class="menu__link menu__link--level-3" href="/masculino/calcados/coturnos?O=OrderByReleaseDateDESC"><span>Coturnos</span></a>
							</li>
							<li class="menu__item menu__item--level-3 menu__item--sapatos-casuais"><a class="menu__link menu__link--level-3" href="/masculino/calcados/sapatos-casuais?O=OrderByReleaseDateDESC"><span>Sapatos Casuais</span></a>
						</li>
						<li class="menu__item menu__item--level-3 menu__item--sapatos-sociais"><a class="menu__link menu__link--level-3" href="/masculino/calcados/sapatos-sociais?O=OrderByReleaseDateDESC"><span>Sapatos Sociais</span></a>
					</li>
					<li class="menu__item menu__item--level-3 menu__item--tenis"><a class="menu__link menu__link--level-3" href="/masculino/calcados/tenis?O=OrderByReleaseDateDESC"><span>Tênis</span></a>
				</li>
			</ul>
		</div>
	</div>
	</li>
<li class="menu__item menu__item--level-2 menu__item--calcas"><a class="menu__link menu__link--level-2" href="/masculino/calcas?O=OrderByReleaseDateDESC"><span>Calças</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
	<div class="menu__container menu__container--level-3 container container--no-gutter">
		<ul class="menu__list menu__list--level-3">
			<li class="menu__item menu__item--level-3 menu__item--calcas-de-sarja"><a class="menu__link menu__link--level-3" href="/masculino/calcas/calcas-de-sarja?O=OrderByReleaseDateDESC"><span>Calças de Sarja</span></a>
		</li>
		<li class="menu__item menu__item--level-3 menu__item--calcas-sociais"><a class="menu__link menu__link--level-3" href="/masculino/calcas/calcas-sociais?O=OrderByReleaseDateDESC"><span>Calças Sociais</span></a>
	</li>
	<li class="menu__item menu__item--level-3 menu__item--calcas-jeans"><a class="menu__link menu__link--level-3" href="/masculino/calcas/calcas-jeans?O=OrderByReleaseDateDESC"><span>Calças Jeans</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--calcas-chino"><a class="menu__link menu__link--level-3" href="/masculino/calcas/calcas-chino?O=OrderByReleaseDateDESC"><span>Calças Chino</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--casacos"><a class="menu__link menu__link--level-2" href="/masculino/casacos?O=OrderByReleaseDateDESC"><span>Casacos</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--blazer-casual"><a class="menu__link menu__link--level-3" href="/masculino/casacos/blazer-casual?O=OrderByReleaseDateDESC"><span>Blazer Casual</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--jaquetas"><a class="menu__link menu__link--level-3" href="/masculino/casacos/jaquetas?O=OrderByReleaseDateDESC"><span>Jaquetas</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--tricos"><a class="menu__link menu__link--level-3" href="/masculino/casacos/tricos?O=OrderByReleaseDateDESC"><span>Tricôs</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--blusao"><a class="menu__link menu__link--level-3" href="/masculino/casacos/blusao?O=OrderByReleaseDateDESC"><span>Blusão</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--coletes"><a class="menu__link menu__link--level-3" href="/masculino/casacos/coletes?O=OrderByReleaseDateDESC"><span>Coletes</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--camisas-e-camisetas"><a class="menu__link menu__link--level-2" href="/masculino/camisas-e-camisetas?O=OrderByReleaseDateDESC"><span>Camisas e Camisetas</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--camisas"><a class="menu__link menu__link--level-3" href="/masculino/camisas-e-camisetas/camisas?O=OrderByReleaseDateDESC"><span>Camisas</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--camisetas"><a class="menu__link menu__link--level-3" href="/masculino/camisas-e-camisetas/camisetas?O=OrderByReleaseDateDESC"><span>Camisetas</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--polos"><a class="menu__link menu__link--level-2" href="/masculino/polos?O=OrderByReleaseDateDESC"><span>Polos</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--polo-manga-curta"><a class="menu__link menu__link--level-3" href="/masculino/polos/polo-manga-curta?O=OrderByReleaseDateDESC"><span>Polo Manga Curta</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--bermudas"><a class="menu__link menu__link--level-2" href="/masculino/bermudas?O=OrderByReleaseDateDESC"><span>Bermudas</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--bermudas-jeans"><a class="menu__link menu__link--level-3" href="/masculino/bermudas/bermudas-jeans?O=OrderByReleaseDateDESC"><span>Bermudas Jeans</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--bermudas-chino"><a class="menu__link menu__link--level-3" href="/masculino/bermudas/bermudas-chino?O=OrderByReleaseDateDESC"><span>Bermudas Chino</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--bermudas-de-sarja"><a class="menu__link menu__link--level-3" href="/masculino/bermudas/bermudas-de-sarja?O=OrderByReleaseDateDESC"><span>Bermudas de Sarja</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--shorts"><a class="menu__link menu__link--level-3" href="/masculino/bermudas/shorts?O=OrderByReleaseDateDESC"><span>Shorts</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--alfaiataria menu__item--banner"><a class="menu__link menu__link--level-2" href="/masculino/alfaiataria?O=OrderByReleaseDateDESC"><span>Alfaiataria</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--blazers"><a class="menu__link menu__link--level-3" href="/masculino/alfaiataria/blazers?O=OrderByReleaseDateDESC"><span>Blazers</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--calcas-sociais"><a class="menu__link menu__link--level-3" href="/masculino/alfaiataria/calcas-sociais?O=OrderByReleaseDateDESC"><span>Calças Sociais</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--gravatas"><a class="menu__link menu__link--level-3" href="/masculino/alfaiataria/gravatas?O=OrderByReleaseDateDESC"><span>Gravatas</span></a>
</li>

<li class="menu__item menu__item--level-3 menu__item--trajes-completos"><a class="menu__link menu__link--level-3" href="/masculino/alfaiataria/trajes-completos?O=OrderByReleaseDateDESC"><span>Trajes Completos</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--camisas-sociais"><a class="menu__link menu__link--level-3" href="/masculino/alfaiataria/camisas-sociais?O=OrderByReleaseDateDESC"><span>Camisas Sociais</span></a>
</li>
</ul>
<div class="menu__banners hide--sm hide--md">
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaAMasc --><vtex:MenuBannerMasculinoAlfaiatariaAMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaBMasc --><vtex:MenuBannerMasculinoAlfaiatariaBMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaCMasc --><vtex:MenuBannerMasculinoAlfaiatariaCMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaDMasc --><vtex:MenuBannerMasculinoAlfaiatariaDMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaEMasc --><vtex:MenuBannerMasculinoAlfaiatariaEMasc />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaFFem --><vtex:MenuBannerMasculinoAlfaiatariaFFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaGFem --><vtex:MenuBannerMasculinoAlfaiatariaGFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaHFem --><vtex:MenuBannerMasculinoAlfaiatariaHFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaIFem --><vtex:MenuBannerMasculinoAlfaiatariaIFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaJFem --><vtex:MenuBannerMasculinoAlfaiatariaJFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaLFem --><vtex:MenuBannerMasculinoAlfaiatariaLFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoAlfaiatariaMFem --><vtex:MenuBannerMasculinoAlfaiatariaMFem />
</div>
</div>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--acessorios"><a class="menu__link menu__link--level-2" href="/masculino/acessorios?O=OrderByReleaseDateDESC"><span>Acessórios</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--cachecois"><a class="menu__link menu__link--level-3" href="/masculino/acessorios/cachecois?O=OrderByReleaseDateDESC"><span>Cachecois</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--carteiras"><a class="menu__link menu__link--level-3" href="/masculino/acessorios/carteiras?O=OrderByReleaseDateDESC"><span>Carteiras</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--cintos"><a class="menu__link menu__link--level-3" href="/masculino/acessorios/cintos?O=OrderByReleaseDateDESC"><span>Cintos</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--oculos"><a class="menu__link menu__link--level-3" href="/masculino/acessorios/oculos?O=OrderByReleaseDateDESC"><span>Óculos</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--pulseiras"><a class="menu__link menu__link--level-3" href="/masculino/acessorios/pulseiras?O=OrderByReleaseDateDESC"><span>Pulseiras</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--cuecas"><a class="menu__link menu__link--level-3" href="/masculino/acessorios/cuecas?O=OrderByReleaseDateDESC"><span>Cuecas</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--meias"><a class="menu__link menu__link--level-3" href="/masculino/acessorios/meias?O=OrderByReleaseDateDESC"><span>Meias</span></a>
</li>
</ul>
</div>
</div>
</li>
</ul>
<div class="menu__banners hide--sm hide--md">
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerMasculinoAMasc --><vtex:MenuBannerMasculinoAMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerMasculinoBMasc --><vtex:MenuBannerMasculinoBMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerMasculinoCMasc --><vtex:MenuBannerMasculinoCMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerMasculinoDMasc --><vtex:MenuBannerMasculinoDMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerMasculinoEMasc --><vtex:MenuBannerMasculinoEMasc />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoFFem --><vtex:MenuBannerMasculinoFFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoGFem --><vtex:MenuBannerMasculinoGFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoHFem --><vtex:MenuBannerMasculinoHFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoIFem --><vtex:MenuBannerMasculinoIFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoJFem --><vtex:MenuBannerMasculinoJFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoLFem --><vtex:MenuBannerMasculinoLFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerMasculinoMFem --><vtex:MenuBannerMasculinoMFem />
</div>
</div>
</div>
</div>
</li>
<li class="menu__item menu__item--level-1 menu__item--feminino menu__item--banner"><a class="menu__link menu__link--level-1" href="/feminino?O=OrderByReleaseDateDESC"><span>Feminino</span></a>
<button class="menu__handle menu__handle--level-1 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-2">
<div class="menu__container menu__container--level-2 container container--no-gutter">
<ul class="menu__list menu__list--level-2">
<li class="menu__item menu__item--level-2 menu__item--calcados"><a class="menu__link menu__link--level-2" href="/feminino/calcados?O=OrderByReleaseDateDESC"><span>Calçados</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--botas"><a class="menu__link menu__link--level-3" href="/feminino/calcados/botas?O=OrderByReleaseDateDESC"><span>Botas</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--sandalias"><a class="menu__link menu__link--level-3" href="/feminino/calcados/sandalias?O=OrderByReleaseDateDESC"><span>Sandálias</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--tenis"><a class="menu__link menu__link--level-3" href="/feminino/calcados/tenis?O=OrderByReleaseDateDESC"><span>Tênis</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--tops"><a class="menu__link menu__link--level-2" href="/feminino/tops?O=OrderByReleaseDateDESC"><span>Tops</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--blusas"><a class="menu__link menu__link--level-3" href="/feminino/tops/blusas?O=OrderByReleaseDateDESC"><span>Blusas</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--camisetas"><a class="menu__link menu__link--level-3" href="/feminino/tops/camisetas?O=OrderByReleaseDateDESC"><span>Camisetas</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--polos"><a class="menu__link menu__link--level-3" href="/feminino/tops/polos?O=OrderByReleaseDateDESC"><span>Polos</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--shorts-e-saias"><a class="menu__link menu__link--level-2" href="/feminino/shorts-e-saias?O=OrderByReleaseDateDESC"><span>Shorts e Saias</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--shorts"><a class="menu__link menu__link--level-3" href="/feminino/shorts-e-saias/shorts?O=OrderByReleaseDateDESC"><span>Shorts</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--saias"><a class="menu__link menu__link--level-3" href="/feminino/shorts-e-saias/saias?O=OrderByReleaseDateDESC"><span>Saias</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--calcas"><a class="menu__link menu__link--level-2" href="/feminino/calcas?O=OrderByReleaseDateDESC"><span>Calças</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--calcas-jeans"><a class="menu__link menu__link--level-3" href="/feminino/calcas/calcas-jeans?O=OrderByReleaseDateDESC"><span>Calças Jeans</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--macacoes-e-vestidos"><a class="menu__link menu__link--level-2" href="/feminino/macacoes-e-vestidos?O=OrderByReleaseDateDESC"><span>Macacões e Vestidos</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--vestidos"><a class="menu__link menu__link--level-3" href="/feminino/macacoes-e-vestidos/vestidos?O=OrderByReleaseDateDESC"><span>Vestidos</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--macaquinhos"><a class="menu__link menu__link--level-3" href="/feminino/macacoes-e-vestidos/macaquinhos?O=OrderByReleaseDateDESC"><span>Macaquinhos</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--casacos"><a class="menu__link menu__link--level-2" href="/feminino/casacos?O=OrderByReleaseDateDESC"><span>Casacos</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--jaquetas"><a class="menu__link menu__link--level-3" href="/feminino/casacos/jaquetas?O=OrderByReleaseDateDESC"><span>Jaquetas</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--jaquetas-jeans"><a class="menu__link menu__link--level-3" href="/feminino/casacos/jaquetas-jeans?O=OrderByReleaseDateDESC"><span>Jaquetas Jeans</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--blusao"><a class="menu__link menu__link--level-3" href="/feminino/casacos/blusao?O=OrderByReleaseDateDESC"><span>Blusão</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--coletes"><a class="menu__link menu__link--level-3" href="/feminino/casacos/coletes?O=OrderByReleaseDateDESC"><span>Coletes</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--tricos"><a class="menu__link menu__link--level-3" href="/feminino/casacos/tricos?O=OrderByReleaseDateDESC"><span>Tricôs</span></a>
</li>
</ul>
</div>
</div>
</li>
<li class="menu__item menu__item--level-2 menu__item--acessorios"><a class="menu__link menu__link--level-2" href="/feminino/acessorios?O=OrderByReleaseDateDESC"><span>Acessórios</span></a>
<button class="menu__handle menu__handle--level-2 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-3">
<div class="menu__container menu__container--level-3 container container--no-gutter">
<ul class="menu__list menu__list--level-3">
<li class="menu__item menu__item--level-3 menu__item--bolsas"><a class="menu__link menu__link--level-3" href="/feminino/acessorios/bolsas?O=OrderByReleaseDateDESC"><span>Bolsas</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--cintos"><a class="menu__link menu__link--level-3" href="/feminino/acessorios/cintos?O=OrderByReleaseDateDESC"><span>Cintos</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--cachecois"><a class="menu__link menu__link--level-3" href="/feminino/acessorios/cachecois?O=OrderByReleaseDateDESC"><span>Cachecóis</span></a>
</li>
<li class="menu__item menu__item--level-3 menu__item--oculos"><a class="menu__link menu__link--level-3" href="/feminino/acessorios/oculos?O=OrderByReleaseDateDESC"><span>Óculos</span></a>
</li>
</ul>
</div>
</div>
</li>
</ul>
<div class="menu__banners hide--sm hide--md">
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerFemininoAMasc --><vtex:MenuBannerFemininoAMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerFemininoBMasc --><vtex:MenuBannerFemininoBMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerFemininoCMasc --><vtex:MenuBannerFemininoCMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerFemininoDMasc --><vtex:MenuBannerFemininoDMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerFemininoEMasc --><vtex:MenuBannerFemininoEMasc />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerFemininoFFem --><vtex:MenuBannerFemininoFFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerFemininoGFem --><vtex:MenuBannerFemininoGFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerFemininoHFem --><vtex:MenuBannerFemininoHFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerFemininoIFem --><vtex:MenuBannerFemininoIFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerFemininoJFem --><vtex:MenuBannerFemininoJFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerFemininoLFem --><vtex:MenuBannerFemininoLFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerFemininoMFem --><vtex:MenuBannerFemininoMFem />
</div>
</div>
</div>
</div>
</li>
<li class="menu__item menu__item--level-1 menu__item--jeans menu__item--banner"><a class="menu__link menu__link--level-1" href="/jeans?O=OrderByReleaseDateDESC"><span>Jeans</span></a>
<button class="menu__handle menu__handle--level-1 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-2">
<div class="menu__container menu__container--level-2 container container--no-gutter">
<ul class="menu__list menu__list--level-2">
<li class="menu__item menu__item--level-2 menu__item--masculino menu__item--highlight"><a class="menu__link menu__link--level-2 menu__link--highlight" href="/jeans/masculino?O=OrderByReleaseDateDESC"><span>Masculino</span></a>
</li>
<li class="menu__item menu__item--level-2 menu__item--feminino"><a class="menu__link menu__link--level-2" href="/jeans/feminino?O=OrderByReleaseDateDESC"><span>Feminino</span></a>
</li>
</ul>
<div class="menu__banners hide--sm hide--md">
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerJeansAMasc --><vtex:MenuBannerJeansAMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerJeansBMasc --><vtex:MenuBannerJeansBMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerJeansCMasc --><vtex:MenuBannerJeansCMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerJeansDMasc --><vtex:MenuBannerJeansDMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerJeansEMasc --><vtex:MenuBannerJeansEMasc />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerJeansFFem --><vtex:MenuBannerJeansFFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerJeansGFem --><vtex:MenuBannerJeansGFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerJeansHFem --><vtex:MenuBannerJeansHFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerJeansIFem --><vtex:MenuBannerJeansIFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerJeansJFem --><vtex:MenuBannerJeansJFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerJeansLFem --><vtex:MenuBannerJeansLFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerJeansMFem --><vtex:MenuBannerJeansMFem />
</div>
</div>
<div class="menu__speclist menu__speclist--Modelagem calças hide--sm hide--md">
<div class="speclist" data-category="Jeans" data-specification="Modelagem calças" data-count="10" data-width="162" data-height="236">
<ul class="speclist__list">
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
<li class="menu__item menu__item--level-1 menu__item--alfaiataria menu__item--banner"><a class="menu__link menu__link--level-1" href="/alfaiataria?O=OrderByReleaseDateDESC"><span>Alfaiataria</span></a>
<button class="menu__handle menu__handle--level-1 hide--lg"><i class="menu__icon icon icon-arrow"></i></button>
<div class="menu__panel menu__panel--level-2">
<div class="menu__container menu__container--level-2 container container--no-gutter">
<div class="menu__banners hide--sm hide--md">
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerAlfaiatariaAMasc --><vtex:MenuBannerAlfaiatariaAMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerAlfaiatariaBMasc --><vtex:MenuBannerAlfaiatariaBMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerAlfaiatariaCMasc --><vtex:MenuBannerAlfaiatariaCMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerAlfaiatariaDMasc --><vtex:MenuBannerAlfaiatariaDMasc />
</div>
<div class="menu__banner menu__bannerMasc"><!-- Custom Elements: MenuBannerAlfaiatariaEMasc --><vtex:MenuBannerAlfaiatariaEMasc />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerAlfaiatariaFFem --><vtex:MenuBannerAlfaiatariaFFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerAlfaiatariaGFem --><vtex:MenuBannerAlfaiatariaGFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerAlfaiatariaHFem --><vtex:MenuBannerAlfaiatariaHFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerAlfaiatariaIFem --><vtex:MenuBannerAlfaiatariaIFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerAlfaiatariaJFem --><vtex:MenuBannerAlfaiatariaJFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerAlfaiatariaLFem --><vtex:MenuBannerAlfaiatariaLFem />
</div>
<div class="menu__banner menu__bannerFem"><!-- Custom Elements: MenuBannerAlfaiatariaMFem --><vtex:MenuBannerAlfaiatariaMFem />
</div>
</div>
<div class="menu__speclist menu__speclist--Modelagem camisas hide--sm hide--md">
<div class="speclist" data-category="Alfaiataria" data-specification="Modelagem camisas" data-count="10" data-width="162" data-height="236">
<ul class="speclist__list">
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
<li class="speclist__item"><a class="speclist__link" href="javascript:;">
<div class="speclist__placeholder speclist__placeholder--image"><img class="speclist__media" src="https://via.placeholder.com/162x236"/></div>
<div class="speclist__title speclist__placeholder speclist__placeholder--title"></div></a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
<li class="menu__item menu__item--level-1 menu__item--outlet menu__item--banner"><a class="menu__link menu__link--level-1" href="/outlet?O=OrderByReleaseDateDESC"><span>Outlet</span></a>
</li>
<li class="menu__item menu__item--level-1 menu__item--outlet menu__item--banner"><a class="menu__link menu__link--level-1" href="/cartao-presente"><span>GIFT CARD</span></a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="menu__footer hide--lg">
<div class="menu__services">
<ul class="services">
<li class="services__item"><a class="services__link" href="/Atendimento/fale-conosco"><i class="icon icon-phone"></i><span>Atendimento</span></a></li>
<li class="services__item"><a class="services__link" href="/institucional/nossas-lojas"><i class="icon icon-pin"></i><span>Nossas Lojas</span></a></li>
</ul>
</div>
</div>
</div>
</nav>
</div>
<div class="header__box header__search">
<div class="search" tabindex="-1">
<button class="search__toggle icon__button search__js-toggle" title="busca"><i class="icon icon-search"></i></button>
<div class="search__overlay search__js-close"></div>
<div class="search__modal">
<div class="search__container container">
<form class="search__form" action="/busca">
<input class="search__input" id="search__input" type="search" name="ft" required="required" autocomplete="off" placeholder="Digite o que procura..."/>
<button class="search__button icon__button" title="buscar"><i class="icon icon-search"></i></button>
<button class="search__close icon__button search__js-close hide--sm hide--md" title="fechar" type="button"><i class="icon icon-close"></i></button>
</form>
</div>
<div class="search__panel container">
<div class="search__container">
<ul class="search__history"></ul>
<ul class="search__suggestion"></ul>
<ul class="search__result"></ul>
</div>
</div>
</div>
</div>
</div>
	<div class="header__box header__user hide--sm hide--md">
		<div class="user js-loading"><a class="user__button user__login icon__button" href="/login" title="login"><i class="icon icon-user"></i><span class="hide--lg">Olá!
		<u>Acesse sua conta</u></span></a>
		<button class="user__button user__toggle user__js-toggle icon__button" title="minha conta"><i class="icon icon-user"></i><span class="hide--lg">Olá, <span class="user__name"></span><i class="icon icon-arrow"></i></span></button>
		<div class="user__overlay user__js-close"></div>
		<div class="user__modal">
			<div class="user__header hide--sm">
				<div class="user__greeting"><span>Olá, <span class="user__name"></span></span></div>
			</div>
			<div class="user__content">
				<ul class="user__actions">
					<li class="user__action"><a class="user__link" href="/_secure/account"><span>Minha conta</span></a></li>
					<li class="user__action"><a class="user__link" href="/_secure/account/orders"><span>Meus pedidos</span></a></li>
					<li class="user__action"><a class="user__link" href="/wishlist"><span>Meus favoritos</span></a></li>
					<li class="user__action"><a class="user__link user__logout" href="/no-cache/user/logout"><span>Sair</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="header__box header__minicart">
<div class="minicart minicart--empty js-loading">
<button class="minicart__toggle minicart__js-toggle icon__button" title="minha sacola"><i class="icon icon-minicart"></i><small class="minicart__count"><span class="minicart__count--badge"><span class="minicart__count-value">0</span></span></small></button>
<div class="minicart__overlay minicart__js-close"></div>
<div class="minicart__modal">
<div class="minicart__header">
<button class="minicart__close icon__close minicart__js-close hide--sm hide--md"><i class="icon icon-arrow-long"></i><span>Voltar</span></button>
<button class="minicart__toggle minicart__js-toggle icon__button hide--sm hide--md" title="minha sacola"><i class="icon icon-minicart"></i><small class="minicart__count"><span class="minicart__count--badge"><span class="minicart__count-value">0</span></span></small></button>
<div class="minicart__title title title--6">Sacola</div>
</div>
<div class="minicart__content">
<div class="minicart__empty">
<p class="title title--5 title--center">Sua sacola está vazia</p>
<button class="minicart__continue button button--secondary minicart__js-close">Continuar Comprando</button>
</div>
<ul class="minicart__list"></ul>
</div>
<div class="minicart__footer">
<div class="minicart__closeness-qualifier">
<div class="closeness-qualifier"><span class="closeness-qualifier__max hide--all">
<!-- Custom Elements: ClosenessQualifier(HTML)-->
<!-- input a decimal (with a dot for decimal point) or integer number-->
<!-- i.e.: '1234.56' or '1234'-->
<!-- percent formula: Math.min(100, ((cart total) * 100) / ClosenessQualifier) = percent-->
<!-- value formula: Math.max(0.0, ClosenessQualifier - (cart total)) = value--><vtex.cmc:ClosenessQualifier /></span>
<div class="closeness-qualifier__area closeness-qualifier__area--track">
<div class="closeness-qualifier__track">
<div class="closeness-qualifier__bar"></div>
</div>
<div class="closeness-qualifier__goal">
	<p>FRETE</p><strong>GRÁTIS</strong>
</div>
</div>
<div class="closeness-qualifier__area closeness-qualifier__area--message">
<!-- available text templates:-->
<!-- #valor#, #value#: remaining monetary value to qualify (no $ sign)-->
<!-- #total#: decimal value of the sum of all items in the cart-->
<!-- #percent#, #porcento#: remaining percentual of the value after subtracted from the total (no % sign)-->
<div class="closeness-qualifier__message closeness-qualifier__message--empty">
<!-- Custom Elements: ClosenessQualifierMessage(HTML)--><vtex.cmc:ClosenessQualifierMessage />
</div>
<div class="closeness-qualifier__message closeness-qualifier__message--full">
<!-- Custom Elements: ClosenessQualifierComplete(HTML)--><vtex.cmc:ClosenessQualifierComplete />
</div><small class="closeness-qualifier__message closeness-qualifier__disclaimer closeness-qualifier__message--disclaimer">
<!-- Custom Elements: ClosenessQualifierDisclaimer(HTML)--><vtex.cmc:ClosenessQualifierDisclaimer /></small>
</div>
</div>
</div>
<div class="minicart__totalizer">
<ul class="minicart__summary">
<li class="minicart__summary-item minicart__subtotal">
<label class="minicart__summary-title">Subtotal:</label><span class="minicart__summary-value minicart__subtotal-value">R$ 0,00</span>
</li>
<li class="minicart__summary-item minicart__discount">
<label class="minicart__summary-title minicart__discount-title">Desconto:</label><span class="minicart__summary-value minicart__discount-value">R$ 0,00</span>
</li>
<li class="minicart__summary-item minicart__total">
<label class="minicart__summary-title">Total:</label><span class="minicart__summary-value minicart__total-value">R$ 0,00</span>
</li>
</ul>
<div class="minicart__actions"><a class="minicart__finish button button--full" href="/checkout/?goToShipping=true#/cart"><span>Finalizar Compra</span></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="https://storetng.vteximg.com.br/arquivos/footer-checkout.css" />
<![endif]-->

	<style>
	
		li.select.skuList.item-dimension-Cor {
		  display: none !important;
		}

		.box-banner {
			display: inline-block;
			margin-left: 9px;
			margin-right: 11px;
		}

		.user__logout {
			text-align: left;
		}

		.product__action {
			border: 1px solid #b7b7b7;
		}

		#newsletter-lightbox {
			/* display: none !important; */
		}

		.menu__item--level-1 {
			height: 36% !important;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			margin-top: 26px !important;
		}

		.menu__link--level-1 {
			position: relative;
			font-size: 14px;
			font-weight: bold;
			padding: 0px 30px !important;
			text-transform: uppercase;
			z-index: 0;
		}

		.menu__panel--level-2 {
			margin-top: -40px !important;
		}


		.header__floater {
			height: 85px !important;
		}


		.logo {
			padding: 0 11px 0px !important;
		}

		@media screen and (max-width: 360px){
			.footer__basic {
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			z-index: 1000 !important;
		}

		/*IE*/
		@media all and (-ms-high-contrast:none){

			
			.menu__link--level-1{
				padding: 0px 58px !important;
				align-items: baseline !important;
			}

			
			.menu__item--level-2{
				padding: none;
				-webkit-align-items: none;
				-ms-flex-align: none;
				align-items: none;
				page-break-inside: none;
				-webkit-column-break-inside: none;
				break-inside: none;
				height: auto;
				margin-bottom: 27px;
				position: relative;
			}
			

			.menu__item--level-1:hover .menu__link{
				margin-top: 14px;
			}


		}


		/*EDGE*/
		@supports (-ms-ime-align:auto) {
			
		}
		
        /* Ajuste para buscador */
        span.search__suggestion-category.search__category { font-weight: 700; }
        a.search__suggestion-link { font-size: 17px; padding: 2px 0; }

		
	</style>


</header>